<div id="manejoDeData_CotizacionesYConduces" class="card border-info mb-3 Sombra card-body text-info ml-3" style="padding: 0px 6px 10px 6px;" hidden>
    <h5 class="card-title" style="text-decoration:underline">Cerrar Cotización</h5>

    <div style="margin-top: 10px;">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row pl-3">
                    <div class="col-12 form-group">
                        <div class="row">
                            <div class="form-check col-2">
                                <input class="form-check-input" type="radio" id="ManejoDeData_Sin_Ventas" value="Sin_Ventas" v-model="tipoCierre">
                                <label class="form-check-label" for="ManejoDeData_Sin_Ventas">
                                    Sin Ventas
                                </label>
                            </div>

                            <div class="form-check col-8">
                                <input class="form-check-input" type="radio" id="ManejoDeData_Genero_Ventas" value="Genero_Ventas" v-model="tipoCierre">
                                <label class="form-check-label" for="ManejoDeData_Genero_Ventas">
                                    Genero Venta (Cierre Manual)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr style="margin: 10px;" />

    <div class="row">
        <div class="col-12 col-lg-2">
            <label class="font-weight-bold">
                Número de Cotización a Cerrar
            </label>
            <input type="number" class="form-control" v-model="valor" v-on:focusout="BuscarDatosParaCerrarCotizacion()" />
        </div>

        <div class="col-12 col-lg-2" v-if="tipoCierre === 'Genero_Ventas'">
            <label class="font-weight-bold">
                Número de Factura
            </label>
            <input type="number" class="form-control" v-model="factura" v-on:focusout="BuscarExistenciaFacturaEnOtroCierre()" />
        </div>
    </div>

    <hr style="margin: 10px;" />

    <div class="row d-flex align-items-end">
        <div class="col-12 col-lg-11">
            <label class="font-weight-bold">
                Comentario
            </label>
            <input type="text" class="form-control" v-model="comentario" placeholder="Indique la razón del cierre de la cotización." />
        </div>

        <div class="col">
            <a class="btn btn-light" style="border-left: 1px solid; width:100%;" v-on:click="Cerrar()"><i class="material-icons">close</i></a>
        </div>
    </div>
</div>
