<div class="mt-4">
    <button id="btnBack" class="btn btn-danger" v-on:click="NavigationBehaviour()" hidden><i class="material-icons">arrow_back</i></button>
    <button id="btnHome" class="btn btn-info" v-on:click="NavigationBehaviour(0)" hidden><i class="material-icons">home</i></button>
</div>