<div class="mt-2">
    <button id="btnBack" class="btn btn-danger" onclick="NavigationBehaviour(-1)" style="padding-bottom:0" hidden><i class="material-icons">arrow_back</i></button>
    <button id="btnHome" class="btn btn-info" onclick="NavigationBehaviour(0)" style="padding-bottom:0" hidden><i class="material-icons">home</i></button>
    <div class="btn-group" style="float:right;">
        <button id="btnUsuario" type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" onclick="CloseUserSession()"  style="padding-bottom:0"><i class="material-icons">close</i>Cerrar Sección.</a>
        </div>
    </div>
    <div class="btn-group" style="float:right; margin-right:10px">
        <button id="btnConnection" type="button" class="btn btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-bottom:0">
            <i class="material-icons">cloud_queue</i>
        </button>
        <div class="dropdown-menu">
            <a id="optConecction_objener" class="dropdown-item" href="#" onclick="EstablecerConexionRemota()" hidden><i class="material-icons">check</i>Conectarse de manera remota.</a>
            <span id="infoConectado" class="dropdown-item font-weight-bold" hidden>Usted está obteniendo la data desde el servidor de su empresa.</span>
        </div>
    </div>
</div>