
@{
    ViewBag.Title = "SeleccionarEmpresa";
}

<div id="app">
    @*  DIV PARA SELECCIONAR UNA EMPRESA*@
    <div id="SeleccionarEmpresa">
        <div class="card align-middle" style="width: 35rem;">
            <div class="card-header">
                <h5>SELECCIONE LA EMPRESA A TRABAJAR</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr v-for="empresa in Empresas">
                        <td>{{empresa.empresa_id}}</td>
                        <td>{{empresa.Nombre_empresa}}</td>
                        <td><input v-on:click="EmpresaSeleccionada(empresa.empresa_id)" type="button" class="btn btn-primary" value="Seleccionar" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*  DIV DEL MENU*@
    <div id="menu" hidden>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">CONTROL DE CAJA CHICA</h5>
                <p class="card-text">Crear movimientos, hacer pagos, ver reportes concernientes a la caja.</p>
                <input v-on:click="ListadoMovimientosCaja" type="button" class="btn btn-primary" value="Ver" />
            </div>
        </div>
    </div>

    @*  DIV QUE MUESTRA UN LISTADO DE LOS MOVIEMIENTOS (BOTON DEL MENU 'CONTROL DE CAJA CHICA')*@
    <div id="ListadoMovimientos" hidden>
        <div>
            <button v-on:click="MovimientosCRUD" type="button" class="btn btn-secondary">Movimientos de caja</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Numero transaccion</th>
                    <th scope="col">Beneficiario</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="movimiento in Movimientos">
                    <td>{{movimiento.NumeroTransacion}}</td>
                    <td>{{movimiento.Beneficiario}}</td>
                    <td>{{movimiento.Concepto}}</td>
                    <td>{{movimiento.Monto}}</td>
                    <td>{{movimiento.Fecha}}</td>
                </tr>
        </table>
    </div>

    @*  DIV QUE MUESTRA EL CRUD DE LOS MOVIMIENTOS*@
    <div id="MovimientosCRUD" hidden>
        <div>
            <div>
                <div id="DatosBasicos">
                    <label>Datos Basicos</label>
                    <div>
                        <label>Fecha Emicion</label>
                        <input type="date" v-model="Movimiento.FechaEmicion" />
                    </div>

                    <div>
                        <label>Cargado a</label>
                        <select v-model="Movimiento.CargadoA">
                            <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                            <option v-for="Usuario in Usuarios" v-bind:value="Usuario.id_usuario">({{Usuario.usuario}}) - {{Usuario.nombre_completo}}</option>
                        </select>
                    </div>

                    <div>
                        <label>Monto</label>
                        <input type="number" v-model="Movimiento.Monto" />
                    </div>

                    <div>
                        <label>Tipo de Movimiento</label>
                        <select v-model="Movimiento.TipoMovimiento">
                            <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                            <option v-for="movimiento in TiposMovimientos" v-bind:value="movimiento.NumeroTransacion">({{movimiento.Tipo}}) {{movimiento.Descripcion}}</option>
                        </select>
                    </div>

                    <div>
                        <label>Concepto</label>
                        <input type="text" v-model="Movimiento.Concepto" />
                    </div>
                </div>

                <div id="DatoFiscales">
                    <label>Dato Fiscales</label>
                    <label for="llenarDatosFiscalesCheck">Llenar Datos Fiscales</label>
                    <input id="llenarDatosFiscalesCheck" type="checkbox" />
                    <div>
                        <label>RNC</label>
                        <input type="number" v-model="Movimiento.RNC" />
                    </div>

                    <div>
                        <label>NCF</label>
                        <input type="number" v-model="Movimiento.NCF" />
                    </div>

                    <div>
                        <label>Clasificacion Fiscal</label>
                        <select v-model="Movimiento.ClasificacionFiscal">
                            <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                            <option v-for="clasificacion in ClasificacionesFiscales" v-bind:value="clasificacion.NumeroTransacion">{{clasificacion.Descripcion}}</option>
                        </select>
                    </div>

                    <div>
                        <label>Valor sin ITBIs</label>
                        <input type="number" v-model="Movimiento.ValorSinITBIs" />
                    </div>

                    <div>
                        <label>ITBIs facturado</label>
                        <input type="number" v-model="Movimiento.ITBsFacturado" />
                    </div>
                </div>
            </div>
            <div>
                <input type="button" value="Guardar Movimiento" v-on:click="GuardarMovimiento()" />
                <input type="button" value="Limpiar Campos" v-on:click="LimpiarCamposMovimiento()" />
            </div>
        </div>

        <div>
            <select id="selectBusquedaMovimiento" v-model="BusquedaMovimiento.Opcion" v-on:change="SelectBusquedaMovimientoChanged()">
                <option value="todo">TODO</option>
                <option value="tmovimiento">Tipo de Movimiento</option>
                <option value="es">ENTRADA/SALIDA</option>
                <option value="cfiscal">Clasificacion Fiscal</option>
            </select>

            <select id="movimientoOpcTmov" v-model="BusquedaMovimiento.Tmovimiento" hidden>
                <option value="" disabled selected>--SELECCIONE UNA OPCION--</option>
                <option v-for="movimiento in TiposMovimientos" v-bind:value="movimiento.NumeroTransacion">({{movimiento.Tipo}}) {{movimiento.Descripcion}}</option>
            </select>

            <select id="movimientoOpcES" v-model="BusquedaMovimiento.ES" hidden>
                <option value="" disabled selected>--SELECCIONE UNA OPCION--</option>
                <option value="E">Entradas</option>
                <option value="S">Salidas</option>
            </select>

            <select id="movimientoOpcCfiscal" v-model="BusquedaMovimiento.Cfiscal" hidden>
                <option value="" disabled selected>--SELECCIONE UNA OPCION--</option>
                <option v-for="clasificacion in ClasificacionesFiscales" v-bind:value="clasificacion.NumeroTransacion">{{clasificacion.Descripcion}}</option>
            </select>

            <input type="date" v-model="BusquedaMovimiento.fechaDesde"/>
            <input type="date" v-model="BusquedaMovimiento.fechaHasta"/>

            <input type="button" value="Buscar" v-on:click="BuscarMovimientos()"/>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Numero transaccion</th>
                        <th scope="col">Beneficiario</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="movimiento in Movimientos">
                        <td><input type="button" v-bind:value="movimiento.NumeroTransacion" v-on:click="MovimientoSeleccionado(movimiento.NumeroTransacion)" /></td>
                        <td>{{movimiento.Beneficiario}}</td>
                        <td>{{movimiento.Concepto}}</td>
                        <td>{{movimiento.Monto}}</td>
                        <td>{{movimiento.Fecha}}</td>
                    </tr>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/js/SAP.js"></script>
}   