
@{
    ViewBag.Title = "Monica - Sistema Web";
    <link href="~/Content/css/SAP.css" rel="stylesheet" />
}

<div id="app">
    <!-- DIV DE CARGA -->
    <div id="cargando" style="background-color:white; z-index:1000; position:fixed; width:100%; height:100%; top:0; left:0;">
        <div style="text-align:center; padding-top:10px;">
            <img style="margin:10px auto" src="~/Content/assets/loading.gif" width="40" alt="CARGANDO IMAGEN" />
            <p>Cargando, Por favor espere..</p>
        </div>
    </div>

    @* BOTONES DE NAVEGACION *@
    <div class="mt-4">
        <button id="btnBack" class="btn btn-secondary" v-on:click="NavigationBtns(-1)" hidden><i class="material-icons">arrow_back</i></button>
        <button id="btnHome" class="btn btn-secondary" v-on:click="NavigationBtns(0)" hidden><i class="material-icons">home</i></button>
    </div>

    @* -- *@

    @*  DIV PARA SELECCIONAR UNA EMPRESA *@
    <div id="SeleccionarEmpresa">
        <div class="card border-secondary CentrarDiv Sombra Tables" style="width: 30%; background-color:white;">
            <div class="card-header">
                <h5>EMPRESA</h5>
            </div>
            <div class="card-body" style="padding:0;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr v-for="empresa in Empresas">
                        <td>{{empresa.empresa_id}}</td>
                        <td>{{empresa.Nombre_empresa}}</td>
                        <td class="text-right"><button typeof="button" v-on:click="EmpresaSeleccionada(empresa.empresa_id)" type="button" class="btn btn-primary"><i class="material-icons" style="margin-right:10px; vertical-align:bottom">business</i> Seleccionar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*  DIV DEL MENU *@
    <div id="menu" hidden>
        <div class="card border-secondary CentrarDiv Sombra" style="width: 18rem;">
            <img class="card-img-top CentrarImage" src="~/Content/assets/transaction.png" alt="CajaChica_Icon" style="width:40%">
            <div class="card-body">
                <h5 class="card-title">CONTROL DE CAJA CHICA</h5>
                <p class="card-text">Crear movimientos, hacer pagos, ver reportes concernientes a la caja.</p>
                <hr />
                <button v-on:click="ListadoMovimientosCaja" type="button" class="btn btn-primary" style="width:100%"><i class="material-icons" style="margin-right:10px; vertical-align:bottom">remove_red_eye</i>Ver</button>
            </div>
        </div>
    </div>

    @*  DIV QUE MUESTRA UN LISTADO DE LOS MOVIEMIENTOS (BOTON DEL MENU 'CONTROL DE CAJA CHICA') *@
    <div id="ListadoMovimientos" hidden>
        <div style="margin-top:8px;">
            <button v-on:click="MovimientosCRUD" type="button" class="btn btn-secondary Sombra"> <i class="material-icons" style="margin-right:10px; vertical-align:bottom">account_balance_wallet</i>Movimientos de caja</button>

            <hr />

            <div class="card border-secondary Tables Sombra">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Beneficiario</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="movimiento in Movimientos">
                            <td>{{movimiento.NumeroTransacion}}</td>
                            <td>{{movimiento.nombre_completo}}</td>
                            <td>{{movimiento.Concepto}}</td>
                            <td>{{movimiento.Monto}}</td>
                            <td>{{movimiento.Fecha}}</td>
                        </tr>
                </table>

                <hr />

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li v-bind:class="{'page-item': true, disabled: PaginatorIndex == 1 ? true : false}">
                            <a class="page-link" v-on:click="PaginatorMovimientos(1)"><<</a>
                        </li>
                        <li v-bind:class="{'page-item': true, disabled: PaginatorIndex == 1 ? true : false}">
                            <a class="page-link" v-on:click="PaginatorMovimientos(PaginatorIndex - 1)"><</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link">{{PaginatorIndex}}</a>
                        </li>
                        <li v-bind:class="{'page-item':true, disabled: PaginatorIndex == PaginatorLastPage ? true : false}">
                            <a class="page-link" v-on:click="PaginatorMovimientos(PaginatorIndex + 1)">></a>
                        </li>
                        <li v-bind:class="{'page-item':true, disabled: PaginatorIndex == PaginatorLastPage ? true : false}">
                            <a class="page-link" v-on:click="PaginatorMovimientos(PaginatorLastPage)">>></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    @*  DIV QUE MUESTRA EL CRUD DE LOS MOVIMIENTOS *@
    <div id="MovimientosCRUD" style="margin-top:8px;" hidden>
        <button v-on:click="CuadresCaja(1)" type="button" class="btn btn-secondary Sombra"> <i class="material-icons" style="margin-right:10px; vertical-align:bottom">attach_money</i>Cuadres de caja</button>

        <hr />

        <div class="card border-secondary Sombra">
            <h5 class="card-header">Movimientos</h5>

            <div class="card-body">
                <div style="text-align: end;">
                    <input id="llenarDatosFiscalesCheck" type="checkbox" v-model="SeccionMovimientos.chckLlenarDatosFiscales" />
                    <label for="llenarDatosFiscalesCheck">Llenar Datos Fiscales</label>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div id="DatosBasicos" class="card bg-light">
                            <h5 class="card-header">Dato Basicos</h5>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md">
                                        <div class="form-group" style="width:100%">
                                            <label for="fechaEmicion">Fecha Emicion</label>
                                            <input type="date" style="width:100%" v-model="Movimiento.Fecha" class="form-control" id="fechaEmicion">
                                        </div>

                                        <div class="form-group">
                                            <label for="Beneficiario">Cargado A:</label>
                                            <select class="form-control" id="Beneficiario" v-model="Movimiento.Beneficiario" v-on:change="ActivarBotonGuardarFormulariosMovimiento_keyPress()">
                                                <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                                                <option v-for="Usuario in Usuarios" v-bind:value="Usuario.id_usuario">({{Usuario.usuario}}) - {{Usuario.nombre_completo}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md">
                                        <div class="form-group">
                                            <label for="inputMonto">Monto</label>
                                            <input type="number" class="form-control" id="inputMonto" v-model="Movimiento.Monto" v-on:keyup="ActivarBotonGuardarFormulariosMovimiento_keyPress()" placeholder="Monto" />
                                        </div>

                                        <div class="form-group">
                                            <label for="selectTipoMovimiento">Tipo de Movimiento</label>
                                            <select id="selectTipoMovimiento" class="form-control" v-model="Movimiento.TipoMovimiento" v-on:change="ActivarBotonGuardarFormulariosMovimiento_keyPress()">
                                                <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                                                <option class="form-group" v-for="movimiento in TiposMovimientos" v-bind:value="movimiento.NumeroTransacion">({{movimiento.Tipo}}) {{movimiento.Descripcion}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="inputCocepto">Concepto</label>
                                    <input class="form-control" id="inputCocepto" type="text" v-model="Movimiento.Concepto" v-on:keyup="ActivarBotonGuardarFormulariosMovimiento_keyPress()" placeholder="Concepto" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg">
                        <div id="DatoFiscales" class="card bg-light">
                            <h5 class="card-header">Dato Fiscales</h5>

                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-sm">
                                        <label for="inputRnc">RNC</label>
                                        <input class="form-control" id="inputRnc" type="number" v-model="Movimiento.RNC" v-bind:disabled="!SeccionMovimientos.chckLlenarDatosFiscales" placeholder="RNC" />
                                    </div>

                                    <div class="form-group col-sm">
                                        <label for="inputNcf">NCF</label>
                                        <input class="form-control" id="inputNcf" type="number" v-model="Movimiento.NCF" v-bind:disabled="!SeccionMovimientos.chckLlenarDatosFiscales" placeholder="NCF" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="selectClsFiscal">Clasificacion Fiscal</label>
                                    <select class="form-control" id="selectClsFiscal" v-model="Movimiento.Clasificancf" v-bind:disabled="!SeccionMovimientos.chckLlenarDatosFiscales">
                                        <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                                        <option v-for="clasificacion in ClasificacionesFiscales" v-bind:value="clasificacion.NumeroTransacion">{{clasificacion.Descripcion}}</option>
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm">
                                        <label for="inputItbis">Valor sin ITBIs</label>
                                        <input class="form-control" id="inputItbis" type="number" v-model="Movimiento.Neto" v-bind:disabled="!SeccionMovimientos.chckLlenarDatosFiscales" placeholder="ITBIs" />
                                    </div>

                                    <div class="form-group col-sm">
                                        <label for="inputItbiFacturado">ITBIs facturado</label>
                                        <input class="form-control" id="inputItbiFacturado" type="number" v-model="Movimiento.Itebis" v-bind:disabled="!SeccionMovimientos.chckLlenarDatosFiscales" placeholder="ITBIs" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align:right; margin-bottom:10px; margin-right:5px;">
                <div id="btnsNuevoMovimiento">
                    <button id="btnSaveForm" type="button" class="btn btn-success TextColor Sombra" v-bind:disabled="!SeccionMovimientos.btnGuardarState" v-on:click="GuardarMovimiento()"><i class="material-icons" style="vertical-align:bottom">save_alt</i> Guardar</button>
                    <button id="btnClean" type="button" class="btn btn-secondary TextColor Sombra" v-on:click="LimpiarCamposMovimiento()"><i class="material-icons" style="vertical-align:bottom">remove</i>Limpiar Campos</button>
                </div>
                <div id="btnsMovimientoSeleccionado" hidden>
                    <button class="btn btn-outline-info Sombra" type="button" onclick="printJS('toPrint', 'html');"><i class="material-icons" style="vertical-align:bottom">print</i></button>
                    <button id="btnModificarForm" type="button" class="btn btn-info TextColor Sombra" v-on:click="ModificarMovimiento()"><i class="material-icons" style="vertical-align:bottom">update</i> Modificar</button>
                    <button id="btnCancelModifyForm" type="button" class="btn btn-danger TextColor Sombra" v-on:click="LimpiarCamposMovimiento(1)"><i class="material-icons" style="vertical-align:bottom">cancel</i> Cancelar</button>
                </div>
            </div>
        </div>

        <div class="card border-secondary Sombra" style="margin-top:20px;">
            <div class="card-body">
                <div class="card border-info" style="margin:0px 0px 20px 0px">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md">
                                <label for="selectBusquedaMovimiento">Buscar Por:</label>
                                <select id="selectBusquedaMovimiento" class="form-control" v-model="BusquedaMovimiento.Opcion" v-on:change="SelectBusquedaMovimientoChanged()">
                                    <option value="todo">TODO</option>
                                    <option value="tmovimiento">Tipo de Movimiento</option>
                                    <option value="es">ENTRADA/SALIDA</option>
                                    <option value="cfiscal">Clasificacion Fiscal</option>
                                </select>
                            </div>

                            <div id="movimientoOpcTmov" class="form-group col-md" hidden>
                                <label for="slctTipoMov">Tipo de movimiento</label>
                                <select id="slctTipoMov" class="form-control col-md" v-model="BusquedaMovimiento.Tmovimiento">
                                    <option value="" disabled selected>--SELECCIONE UNA OPCION--</option>
                                    <option v-for="movimiento in TiposMovimientos" v-bind:value="movimiento.NumeroTransacion">({{movimiento.Tipo}}) {{movimiento.Descripcion}}</option>
                                </select>
                            </div>

                            <div id="movimientoOpcES" class="form-group col-md" hidden>
                                <label for="slctES">Tipo de movimiento</label>
                                <select class="form-control col-md" id="slctES" v-model="BusquedaMovimiento.ES">
                                    <option value="" disabled selected>--SELECCIONE UNA OPCION--</option>
                                    <option value="E">Entradas</option>
                                    <option value="S">Salidas</option>
                                </select>
                            </div>

                            <div id="movimientoOpcCfiscal" class="form-group col-md" hidden>
                                <label for="slctClfFisc">Tipo de movimiento</label>
                                <select class="form-control col-md" id="slctClfFisc" v-model="BusquedaMovimiento.Cfiscal">
                                    <option value="" disabled selected>--SELECCIONE UNA OPCION--</option>
                                    <option v-for="clasificacion in ClasificacionesFiscales" v-bind:value="clasificacion.NumeroTransacion">{{clasificacion.Descripcion}}</option>
                                </select>
                            </div>

                            <div class="form-group col-md">
                                <label for="fechaDesde">Desde</label>
                                <input id="fechaDesde" class="form-control col-md" type="date" v-model="BusquedaMovimiento.fechaDesde" />
                            </div>

                            <div class="form-group col-md">
                                <label for="fechaHasta">Hasta</label>
                                <input id="fechaHasta" class="form-control col-md" type="date" v-model="BusquedaMovimiento.fechaHasta" />
                            </div>

                            <a class="btn btn-light" style="text-align:center; vertical-align:central" v-on:click="BuscarMovimientos()"><i class="material-icons" style="margin-top:80%;">search</i></a>
                        </div>
                    </div>
                </div>

                <div class="Tables">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Beneficiario</th>
                                <th scope="col">Concepto</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="movimiento in Movimientos">
                                <td><input class="btn btn-light Sombra" type="button" v-bind:value="movimiento.NumeroTransacion" v-on:click="MovimientoSeleccionado(movimiento.NumeroTransacion)" /></td>
                                <td>{{movimiento.nombre_completo}}</td>
                                <td>{{movimiento.Concepto}}</td>
                                <td>{{movimiento.Monto}}</td>
                                <td>{{movimiento.Fecha}}</td>
                            </tr>
                    </table>

                    <hr />

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li v-bind:class="{'page-item': true, disabled: PaginatorIndex == 1 ? true : false}">
                                <a class="page-link" v-on:click="PaginatorMovimientos(1)"><<</a>
                            </li>
                            <li v-bind:class="{'page-item': true, disabled: PaginatorIndex == 1 ? true : false}">
                                <a class="page-link" v-on:click="PaginatorMovimientos(PaginatorIndex - 1)"><</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">{{PaginatorIndex}}</a>
                            </li>
                            <li v-bind:class="{'page-item':true, disabled: PaginatorIndex == PaginatorLastPage ? true : false}">
                                <a class="page-link" v-on:click="PaginatorMovimientos(PaginatorIndex + 1)">></a>
                            </li>
                            <li v-bind:class="{'page-item':true, disabled: PaginatorIndex == PaginatorLastPage ? true : false}">
                                <a class="page-link" v-on:click="PaginatorMovimientos(PaginatorLastPage)">>></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    @*  DIV QUE MUESTRA LOS CUADRES DE CAJA *@
    <div id="CuadresDeCajaCRUD" hidden>
        <div class="card border-info mb-3 mt-2 Sombra">
            <div class="card-body text-info">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label for="fechaEmicion">Fecha Inicial</label>
                            <input type="date" style="width:100%" v-model="VentanaCierres.FechaInicial" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <label for="fechaEmicion">Fecha Final</label>
                            <input type="date" style="width:100%" v-model="VentanaCierres.FechaFinal" class="form-control">
                        </div>
                    </div>

                    <a class="btn btn-light" style="text-align:center; vertical-align:central" v-on:click="CuadresCaja(0)"><i class="material-icons" style="margin-top:80%;">search</i></a>
                </div>
            </div>
        </div>

        <button class="btn btn-outline-info Sombra" style="width:100%;" type="button" onclick="printJS('toPrintCierres', 'html');"><i class="material-icons" style="vertical-align:bottom">print</i></button>

        <div class="Tables">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align:center;" scope="col">#</th>
                        <th scope="col">Fehca Inicial</th>
                        <th scope="col">Fecha Final</th>
                        <th style="text-align:center;" scope="col">Saldo Final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="element in VentanaCierres.Cierres">
                        <td style="text-align:center;">{{element.NumeroCierre}}</td>
                        <td>{{element.FechaInicial}}</td>
                        <td>{{element.FechaFinal}}</td>
                        <td style="text-align:center;">{{element.SaldoFinal}}</td>
                    </tr>
            </table>
        </div>

        @* -- *@

        <div id="divPrint" hidden>
            <div id="toPrint">
                <div>
                    <hr />
                    <p style="margin:0; font-weight:600; font-size:x-large;">{{EmpresaSeleccionadaInstancia.Nombre_empresa | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:small;">{{EmpresaSeleccionadaInstancia.direccion1 | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:small;">{{EmpresaSeleccionadaInstancia.direccion2 | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:small;">{{EmpresaSeleccionadaInstancia.direccion3 | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:x-small;">CONTACTO: {{EmpresaSeleccionadaInstancia.Telefono1 | FilterUppercase }}</p>
                    <hr />
                </div>
                <p style="text-align:center; font-weight:600; font-size:large; text-decoration: underline;">MOVIMIENTO</p>

                <div style="border-style: solid; border-width: 1px 1px; border-radius: 5px; padding:5px 10px; width: 600px; margin: auto;">
                    <div>
                        <hr />
                        <label>DATOS BASICOS</label>
                        <hr />
                        <p>Emision: {{Movimiento.Fecha | FilterUppercase }}</p>
                        <div style="margin:0px 30px;">
                            <p>Beneficiario: {{Movimiento.Nombre_completo | FilterUppercase }}</p>
                            <p>Tipo de Movimiento: {{Movimiento.DescripcionMovimiento | FilterUppercase }}</p>
                            <p style="padding-bottom:0;">Concepto:</p>
                            <p style="padding-top:0;">{{Movimiento.Concepto | FilterUppercase }}</p>
                        </div>
                    </div>

                    <hr />

                    <div>
                        <label>DATOS FISCALES</label>

                        <hr />

                        <div style="margin:0px 30px;" v-if="Movimiento.RNC">
                            <div>
                                <p style="display:inline-block; width:300px;">RNC: {{Movimiento.RNC | FilterUppercase }}</p>
                                <p style="display:inline-block">NCF:{{Movimiento.NCF | FilterUppercase }}</p>
                            </div>

                            <p>CLASIFICACION FISCAL: {{Movimiento.DescripcionClasfFiscal | FilterUppercase }}</p>

                            <div>
                                <p style="display:inline-block; width:300px;">Valor sin ITbs: {{Movimiento.Neto | FilterUppercase }}</p>
                                <p style="display:inline-block;">ITBIs facturado: {{Movimiento.Itebis | FilterUppercase }}</p>
                            </div>
                        </div>

                        <div v-else style="text-align:center;">
                            <label>- ESTE MOVIMIENTO NO TIENE DATOS FISCALES -</label>
                        </div>

                    </div>
                </div>
            </div>

            <div id="toPrintCierres">
                <div>
                    <hr />
                    <p style="margin:0; font-weight:600; font-size:x-large;">{{EmpresaSeleccionadaInstancia.Nombre_empresa | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:small;">{{EmpresaSeleccionadaInstancia.direccion1 | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:small;">{{EmpresaSeleccionadaInstancia.direccion2 | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:small;">{{EmpresaSeleccionadaInstancia.direccion3 | FilterUppercase }}</p>
                    <p style="margin:0; font-weight:600; font-size:x-small;">CONTACTO: {{EmpresaSeleccionadaInstancia.Telefono1 | FilterUppercase }}</p>
                    <hr />
                </div>

                <div>
                    <table style="border: 1px solid black; margin: auto;">
                        <thead>
                            <tr style="border-bottom: 1px solid;">
                                <th style="text-align:center; width:200px" scope="col">#</th>
                                <th style="width:200px" scope="col">Fehca Inicial</th>
                                <th style="width:200px" scope="col">Fecha Final</th>
                                <th style="width:200px; text-align:center;" scope="col">Saldo Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="element in VentanaCierres.Cierres" style="height:50px; border-bottom: 1px solid;">
                                <td style="border-right: 1px solid; text-align:center;">{{element.NumeroCierre}}</td>
                                <td style="border-right: 1px solid;">{{element.FechaInicial}}</td>
                                <td style="border-right: 1px solid;">{{element.FechaFinal}}</td>
                                <td style="text-align:center; border-right: 1px solid;">{{element.SaldoFinal}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script src="~/Scripts/js/SAP.js"></script>
    }
