<div class="row" style="display:flex; justify-content:space-evenly; position:absolute; bottom:20px; width:100%;">
    <div style="width:30%; display: flex; flex-direction:column; align-items:center;">
        <div style="width:100%; height:1px; background-color:#17A2B8;">
        </div>
        <h6>Autorizado Por</h6>
    </div>

    <div style="width:30%; display: flex; flex-direction:column; align-items:center;">
        <div style="width:100%; height:1px; background-color:#17A2B8;">
        </div>
        <h6>Recibido Por</h6>
    </div>
</div>