<div id="SeleccionarManejoDeData" hidden>

    <hr />

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div style="position:relative">
                <div class="sidebar-header">
                    <h3>Menú</h3>
                    <h3>De Opciones</h3>
                </div>

                <button type="button" class="btn btn-outline-info" style="position:absolute; top:26px; right:-16px;" onclick="BtnMostrarMenuReportes()"><i class="material-icons" style="position:relative; right:-12px;">menu</i></button>
            </div>

            <hr />

            <ul class="list-unstyled components">
                <li>
                    <a onclick="monicaManejoDeData.OpcionMenuCeleccionado('manejoDeData_Cotizaciones')">Cotizaciones</a>
                </li>
            </ul>
        </nav>

        <div style="display:flex; flex-direction:column; width:100%; padding: 0 40px">
            @*----------------------*@
            @*-----COTIZACIONES-----*@
            @*----------------------*@
            <div id="cotizaciones">
                <div>
                    <div id="ManejoDeDataContenidos" class="Tables">
                        <div class="row">
                            @Html.Partial("~/Views/Paginas/ManejoDeData/Partial/_cotizacion.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>