<div id="menu" hidden>
    <div class="card border-secondary CentrarDiv Sombra" style="width: 18rem;">
        <img class="card-img-top CentrarImage" src="~/Content/assets/transaction.png" alt="CajaChica_Icon" style="width:40%">
        <div class="card-body">
            <h5 class="card-title">CONTROL DE CAJA CHICA</h5>
            <p class="card-text">Crear movimientos, hacer pagos, ver reportes concernientes a la caja.</p>

            <hr />

            <button v-on:click="MovimientosCRUD()" type="button" class="btn btn-info" style="width:100%"><i class="material-icons" style="margin-right:10px; vertical-align:bottom">play_for_work</i>Entrar</button>
        </div>
    </div>
</div>
