<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moniextra Herramienta Contable</title>

    @*  ICONOS  *@
    <link async href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*  BOOTSTRAP *@
    <link href="~/Content/css/Bootstrapt.css" rel="stylesheet">
    <link href="~/Content/css/ReportStyle.css" rel="stylesheet">
    <link href="~/Content/css/PrintStyle.css" rel="stylesheet">
    <link href="~/Content/css/SAP.css" rel="stylesheet">
</head>
<body>
    <div>
        <nav class="navbar navbar-dark bg-info dontPrint" style="display:flex; justify-content:flex-start; align-items:center">
            <img src="~/Content/assets/logoHeaderMonica.png" alt="Logo Monica" height="66" width="280" class="mr-2" />
            <label class="navbar-brand d-none d-sm-block m-0"><strong>Funciones Adicionales para el Sistema MONICA</strong></label>
        </nav>

        <div id="divMaster" class="container body-content">
            @RenderBody()
            <h5><span style="position:fixed; right:0; bottom:0;" class="badge badge-secondary">Versión: 3.4.7</span></h5>
        </div>
    </div>

    <script src="~/Scripts/js/Utils.js"></script>

    @*POPPER*@
    <script src="~/Scripts/js/Popper.js"></script>

    @* VUE *@
    <script src="~/Scripts/js/Vue.js"></script>

    @* SWAL *@
    <script src="~/Scripts/js/Swal.js"></script>

    @* CHARTS *@
    <script src="~/Scripts/js/Chart.js"></script>

    <script>
        //window.onbeforeunload = function (event) {
            //debugger
            //CloseUserSession();
        //};
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
