<div id="contabilidadYBancoFiltro" class="card border-info mb-3 Sombra card-body text-info" style="padding: 0px 6px 10px 6px;" hidden>
    <div>
        <button class="btn btn-info"
                style="float: right; border:none; background:none; display:flex; color:#17A2B8;"
                title="Configuraciones avanzadas para los filtros"
                v-on:click="AjustesAvanzadosFiltros()">
            Ajustes Avanzados <i class="material-icons" style="color:#17A2B8; margin-left:4px;">settings</i>
        </button>
    </div>

    <div style="margin-top: 10px;">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row pl-3">
                    <div class="col-12 col-md-5 form-group">
                        <label class="font-weight-bold">Módulos</label>
                        <div class="row">
                            <div class="form-check col-4">
                                <input class="form-check-input" type="radio" id="CBContabilidadCheck" value="contabilidad" v-model="FILTROS.tipoReporte">
                                <label class="form-check-label" for="CBContabilidadCheck">
                                    Contabilidad
                                </label>
                            </div>

                            <div class="form-check col-4">
                                <input disabled class="form-check-input" type="radio" id="CBBancoCheck" value="banco" v-model="FILTROS.tipoReporte">
                                <label class="form-check-label" for="CBBancoCheck">
                                    Banco
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 10px;" />

        <div class="row">
            <div class="col-12 col-lg-3" data-toggle="tooltip" data-placement="bottom">
                <label class="font-weight-bold">Tipo Consulta</label>
                <select class="custom-select" v-model="FILTROS.tipoConsulta" v-on:change="TipoConsultaSelectChanged()">
                    <optgroup label="Consultas Primarias">
                        <option value="Plan_de_Cuentas">Plan de Cuentas(Catalogo)</option>
                        <option disabled value="Diario_General">Diario General</option>
                        <option disabled value="Libro_Mayor">Libro Mayor</option>
                        <option disabled value="Libros_Auxiliares">Libros Auxiliares</option>
                    </optgroup>
                    <optgroup label="Estados Financieros">
                        <option disabled value="Balanza_General">Balanza General</option>
                        <option disabled value="Ganancias_Y_Perdidas">Ganancias Y Pérdidas</option>
                        <option disabled value="Resumen_de_Gastos">Resumen de Gastos</option>
                    </optgroup>
                    <optgroup label="Reportes Fiscales">
                        <option value="Informe_606">Informe 606</option>
                        <option value="Informe_607">Informe 607</option>
                        <option value="Informe_608">Informe 608</option>
                        <option disabled value="Pre_Informe_IT1">Pre Informe IT1</option>
                    </optgroup>
                </select>
            </div>

            @*  SELECT TIPO DE BUSQUEDA*@
            <div class="col-12 col-lg-1"
                 v-if="FILTROS.tipoConsulta === 'Plan_de_Cuentas'">
                <label class="font-weight-bold">Buscar Por</label>
                <select class="custom-select col"
                        v-model="FILTROS.tipoBusqueda"
                        v-on:change="FILTROS.valor = ''">
                    <option value="codigo">Código</option>
                    <option value="descripcion">Descripción</option>
                </select>
            </div>

            @* FILTRO POR VALOR ESPECIFIVO*@
            <div class="col-12 col-lg-2"
                 v-if="FILTROS.tipoConsulta === 'Plan_de_Cuentas'">
                <label class="font-weight-bold">Valor</label>
                <input type="text" class="form-control" v-model="FILTROS.valor" />
            </div>

            @*  SELECCIONAR PERIODO*@
            <div class="col-12 col-lg-2"
                 v-if="FILTROS.tipoConsulta === 'Informe_608'
                 || FILTROS.tipoConsulta === 'Informe_607'
                 || FILTROS.tipoConsulta === 'Informe_606'">
                <label class="font-weight-bold">Seleccionar Periodo</label>
                <div class="input-group">
                    <select class="custom-select"
                            v-model="FILTROS.periodoMesSeleccionado">
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    <select class="custom-select"
                            v-model="FILTROS.periodoAnioSeleccionado">
                        <option v-for="item in FILTROS.periodoAnios" v-bind:value=item>{{item}}</option>
                    </select>
                </div>
            </div>
        </div>

        <hr style="margin: 10px;" />

        <div class="card border-info">
            <div class="card-body" style="padding: 15px;">
                <div class="row">
                    @*  SELECT CLASIFICACION*@
                    <div class="col-12 col-lg-3"
                         v-if="FILTROS.tipoConsulta === 'Plan_de_Cuentas'">
                        <label class="font-weight-bold">Clasificación</label>
                        <select class="custom-select col" v-model="FILTROS.clasificacion">
                            <option value="">--SELECCIONE UNA OPCION--</option>
                            <option value="A">Activo</option>
                            <option value="P">Pasivo</option>
                            <option value="C">Capital</option>
                            <option value="I">Ingresos</option>
                            <option value="G">Gastos</option>
                            <option value="S">Costos</option>
                            <option value="Q">Deudora</option>
                            <option value="R">Acreedora</option>
                        </select>
                    </div>

                    <a class="btn btn-light col" style="text-align:center; vertical-align:central; border-left: 1px solid;" v-on:click="Buscar()"><i class="material-icons" style="margin-top:2%;">search</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
