<div id="CotizacionesYConducesFiltro" class="card border-info mb-3 Sombra card-body text-info" style="padding: 0px 6px 10px 6px;" hidden>
    <div style="margin-top: 10px;">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row pl-3">
                    <div class="col-12 col-md-5 form-group">
                        <label class="font-weight-bold">Módulos</label>
                        <div class="row">
                            <div class="form-check col-4">
                                <input class="form-check-input" type="radio" id="cotizacionesCheck" value="cotizaciones" v-model="FILTROS.tipoReporte">
                                <label class="form-check-label" for="cotizacionesCheck">
                                    Cotizaciones
                                </label>
                            </div>
                            <div class="form-check col-3">
                                <input class="form-check-input" type="radio" id="devolucionesCheck" value="conduces" v-model="FILTROS.tipoReporte">
                                <label class="form-check-label" for="devolucionesCheck">
                                    Conduces
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card border-info col-12 col-lg-4 form-group mb-0" v-if="FILTROS.tipoConsulta === 'RFA08'">
                        <div class="card-body p-1">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <label class="font-weight-bold">Tipo de Corte</label>
                                    <select class="custom-select" v-model="FILTROS.tipoCorte" v-on:change="TipoCorteChanged()">
                                        <option value="porCategoria">Por Categoria</option>
                                        <option value="porCliente">Por Cliente</option>
                                        <option value="porVendedor">Por Vendedor</option>
                                        <option value="porMoneda">Por Moneda</option>
                                        <option value="porComprobante">Por Comprobante</option>
                                        <option value="porFecha_Emision">Por Fecha Emisión</option>
                                        <option value="porFecha_Vencimiento">Por Fecha Vencimiento</option>
                                        <option value="porTermino_de_Pago">Por Término de Pago</option>
                                        <option value="porCategorias_de_Clientes">Por Categoria de Clientes</option>
                                    </select>
                                </div>

                                <div class="d-flex flex-column justify-content-end col-12 col-lg-6">
                                    <div class="form-check" v-if="this.FILTROS.tipoCorte === 'porFecha_Emision'
                                                                    || this.FILTROS.tipoCorte === 'porFecha_Vencimiento'">
                                        <input id="VDcheckboxPorMes" type="checkbox" class="form-check-input" v-model="FILTROS.agruparPorMes">
                                        <label for="VDcheckboxPorMes" class="form-check-label font-italic">Por Mes</label>
                                    </div>

                                    <div class="form-check">
                                        <input id="checkboxMostrarDetalles" type="checkbox" class="form-check-input" v-model="FILTROS.mostrarDetallesProductosCorte">
                                        <label for="checkboxMostrarDetalles" class="form-check-label font-italic">Sin Detalles</label>
                                    </div>

                                    <div class="form-check">
                                        <input id="checkboxAnalisisGrafico" type="checkbox" class="form-check-input" v-model="FILTROS.analisisGrafico">
                                        <label for="checkboxAnalisisGrafico" class="form-check-label font-italic">Análisis Gráfico</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div v-if="!(FILTROS.tipoReporte === 'devoluciones' && FILTROS.tipoConsulta)">
                    <label class="font-weight-bold mr-2">Estatus</label>
                    <div>
                        <div class="row">
                            <div class="form-check col">
                                <input class="form-check-input" type="radio" id="CCabiertoCheck" value="abierto" v-model="FILTROS.estatus">
                                <label class="form-check-label" for="CCabiertoCheck">
                                    Abierto
                                </label>
                            </div>

                            <div class="form-check col">
                                <input class="form-check-input" type="radio" id="CCcerradoCheck" value="cerrado" v-model="FILTROS.estatus">
                                <label class="form-check-label" for="CCcerradoCheck">
                                    Cerrado
                                </label>
                            </div>

                            <div class="form-check col">
                                <input class="form-check-input" type="radio" id="CCcerradoSinFacturaCheck" value="cerradoSinFactura" v-model="FILTROS.estatus">
                                <label class="form-check-label" for="CCcerradoSinFacturaCheck">
                                    Cerrado Sin Factura
                                </label>
                            </div>

                            <div class="form-check col">
                                <input class="form-check-input" type="radio" id="CCtodoCheck" value="" v-model="FILTROS.estatus">
                                <label class="form-check-label" for="CCtodoCheck">
                                    Todos
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 10px;" />

        <div class="row">
            <div class="col-12 col-lg-4" data-toggle="tooltip" data-placement="bottom">
                <label class="font-weight-bold">Tipo Consulta</label>
                <select class="custom-select" v-model="FILTROS.tipoConsulta" v-on:change="TipoConsultaSelectChanged()">
                    <option value="RFA01">Por Numero</option>
                    <option value="RFA02">Por Monto Facturado</option>
                    <option value="RFA03">Por Termino de Pago</option>
                    <option value="RFA04">Por Cliente registrado</option>
                    <option value="RFA05">Por Cliente sin registrar</option>
                    <option value="RFA06">Por Producto especifico</option>
                    <option value="RFA0">Por Almacén o Bodega</option>
                    <option value="RFA08">Por Vendedor y Categoría de Productos</option>
                    <option value="RFA09">Por Comprobante</option>
                    <option value="CCEstatusDocumento" disabled>Estatus del Documento</option>
                </select>
            </div>

            <div class="col-12 col-lg-8">
                <div class="row">
                    @*SELECT BODEGA*@
                    <div class="col-12 col-lg-4"
                         v-if="FILTROS.tipoConsulta === 'RFA0'">
                        <label class="font-weight-bold">Opción</label>
                        <select class="custom-select col" v-model="FILTROS.nombresBodegaSeleccionada">
                            <option selected value="">--SELECCIONE UNA OPCION--</option>
                            <option v-for="item in FILTROS.nombresBodega" v-bind:value="item.bodega_id">{{item.Nombre_bodega}}</option>
                        </select>
                    </div>

                    @*METODO DE AGRUPACION*@
                    <div id="agrupacionDiv" class="col-12 col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'RFA08'">
                        @* FILTRO AGRUPACION POR CATEGORIA*@
                        <div v-if="FILTROS.tipoCorte === 'porCategoria'">
                            <label class="font-weight-bold">Opción</label>
                            <select class="custom-select col" v-model="FILTROS.categoriasProductosSeleccionada">
                                <option selected value="">--SELECCIONE UNA OPCION--</option>
                                <option v-for="item in FILTROS.categoriasProductos" v-bind:value="item.categoria_id">{{ item.Descripcion_categ }}</option>
                            </select>
                        </div>

                        @* FILTRO AGRUPACION POR MONEDA*@
                        <div v-if="FILTROS.tipoCorte === 'porMoneda'">
                            <label class="font-weight-bold">Opción</label>
                            <select class="custom-select" v-model="FILTROS.monedaAgrupacionSeleccionada">
                                <option selected value="">--SELECCIONE UNA OPCION--</option>
                                <option value="0">NACIONAL</option>
                                <option value="1">EXTRANJERA</option>
                            </select>
                        </div>

                        @* FILTRO AGRUPACION POR TERMINO PAGO*@
                        <div v-if="FILTROS.tipoCorte === 'porTermino_de_Pago'">
                            <label class="font-weight-bold">Opción</label>
                            <select class="custom-select" v-model="FILTROS.terminoPagoAgrupacionSeleccionada">
                                <option selected value="">--SELECCIONE UNA OPCION--</option>
                                <option v-for="item in FILTROS.terminoDePago" v-bind:value="item.termino_id">{{item.Descripcion_termino}}</option>
                            </select>
                        </div>

                        @* FILTRO AGRUPACION POR CATEGORIA DE CLIENTE*@
                        <div v-if="FILTROS.tipoCorte === 'porCategorias_de_Clientes'">
                            <label class="font-weight-bold">Opción</label>
                            <select class="custom-select" v-model="FILTROS.categoriaClientesAgrupacionSeleccionada">
                                <option selected value="">--SELECCIONE UNA OPCION--</option>
                                <option v-for="item in FILTROS.categoriasClientes" v-bind:value="item.termino_id">{{ item.descripcion_categ | FilterUppercase }}</option>
                            </select>
                        </div>

                        @* FILTRO AGRUPACION POR FECHA RANGO*@
                        <div v-if="FILTROS.tipoCorte === 'porFecha_Emision'
                                                    || FILTROS.tipoCorte === 'porFecha_Vencimiento'">
                            <div class="row">
                                <div class="form-group col-12 col-lg-2">
                                    <label for="reporteFechaDesde">Elegir Fecha</label>
                                    <select class="custom-select" v-model="FILTROS.desdeHastaRango">
                                        <option value="" disabled>Personalizada</option>
                                        <option value="0">Hoy</option>
                                        <option value="1">Esta Semana</option>
                                        <option value="2">Este Mes</option>
                                        <option value="3">Mes Anterior</option>
                                        <option value="4">Este Año</option>
                                        <option value="5">2 Años</option>
                                        <option value="6">3 Años</option>
                                        <optgroup label="Meses">
                                            <option value="7">Enero</option>
                                            <option value="8">Febrero</option>
                                            <option value="9">Marzo</option>
                                            <option value="10">Abril</option>
                                            <option value="11">Mayo</option>
                                            <option value="12">Junio</option>
                                            <option value="13">Julio</option>
                                            <option value="14">Agosto</option>
                                            <option value="15">Septiembre</option>
                                            <option value="16">Octubre</option>
                                            <option value="17">Noviembre</option>
                                            <option value="18">Diciembre</option>
                                        </optgroup>
                                    </select>
                                </div>

                                <div class="form-group col">
                                    <label for="reporteFechaDesde">Desde</label>
                                    <input id="reporteFechaDesde" class="form-control col-md" type="date" v-model="FILTROS.minFecha_emision" />
                                </div>

                                <div class="form-group col">
                                    <label for="reporteFechaHasta">Hasta</label>
                                    <input id="reporteFechaHasta" class="form-control col-md" type="date" v-model="FILTROS.maxFecha_emision" />
                                </div>
                            </div>
                        </div>

                        @* FILTRO AGRUPACION POR VALOR ESPECIFIVO*@
                        <div v-if="FILTROS.tipoCorte === 'porCliente'
                                                 || FILTROS.tipoCorte === 'porVendedor'
                                                 || FILTROS.tipoCorte === 'porComprobante'">
                            <label class="font-weight-bold">
                                {{ FILTROS.tipoCorte.replace('por', '').replace('_', ' ') }} Espesifico
                            </label>
                            <input type="text" class="form-control" v-model="FILTROS.valor" />
                        </div>
                    </div>

                    @*SELECT TERMINO PAGO*@
                    <div class="col-12 col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'RFA03'">
                        <label class="font-weight-bold">Opción</label>
                        <select class="custom-select" v-model="FILTROS.terminoDePagoSeleccionado">
                            <option selected value="">--SELECCIONE UNA OPCION--</option>
                            <option v-for="item in FILTROS.terminoDePago" v-bind:value="item.termino_id">{{item.Descripcion_termino}}</option>
                        </select>
                    </div>

                    @*SELECT COMPROBANTE*@
                    <div class="col-12 col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'RFA09'">
                        <label class="font-weight-bold">Opción</label>
                        <select class="custom-select" v-model="FILTROS.comprobante" v-bind:disabled="FILTROS.tipoReporte === 'conduces'">
                            @*<option selected value="">--SELECCIONE UNA OPCION--</option>*@
                            <option value="consumo">Consumo</option>
                            <option v-if="FILTROS.tipoReporte === 'cotizaciones'" value="creditoFiscal">Crédito Fiscal</option>
                            <option v-if="FILTROS.tipoReporte === 'cotizaciones'" value="gubernamental">Gubernamental</option>
                            <option v-if="FILTROS.tipoReporte === 'cotizaciones'" value="especial">Especial</option>
                            <option v-if="FILTROS.tipoReporte === 'cotizaciones'" value="exportaciones">Exportaciones</option>
                        </select>
                    </div>

                    @*DESDE Y HASTA*@
                    <div class="col-12 col-lg-7" v-if="FILTROS.tipoConsulta !== 'RFA05'
                                             && FILTROS.tipoConsulta !== 'RFA09'
                                             && FILTROS.tipoCorte !== 'porFecha_Emision'
                                             && FILTROS.tipoCorte !== 'porFecha_Vencimiento'">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label class="font-weight-bold">Desde</label>
                                <input type="text" class="form-control"
                                       v-model="FILTROS.desde"
                                       v-on:input="FILTROS.hasta = FILTROS.desde"
                                       v-bind:disabled="FILTROS.tipoConsulta !== 'RFA01'
                                                                            && FILTROS.tipoConsulta !== 'RFA02'" />
                            </div>

                            <div class="col-12 col-lg-6">
                                <label class="font-weight-bold">Hasta</label>
                                <input type="text" class="form-control"
                                       v-model="FILTROS.hasta"
                                       v-bind:disabled="FILTROS.tipoConsulta !== 'RFA01'
                                                                            && FILTROS.tipoConsulta !== 'RFA02'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 10px;" />
    </div>

    <div class="card border-info">
        <div class="card-body" style="padding: 15px;">
            <div class="row">
                <div class="form-group col-12 col-lg-2" v-if="FILTROS.tipoCorte !== 'porFecha_Emision'
                                             && FILTROS.tipoCorte !== 'porFecha_Vencimiento'">
                    <label for="reporteFechaDesde">Elegir Fecha</label>
                    <select class="custom-select" v-model="FILTROS.desdeHastaRango">
                        <option value="" disabled>Personalizada</option>
                        <option value="0">Hoy</option>
                        <option value="1">Esta Semana</option>
                        <option value="2">Este Mes</option>
                        <option value="3">Mes Anterior</option>
                        <option value="4">Este Año</option>
                        <option value="5">2 Años</option>
                        <option value="6">3 Años</option>
                        <optgroup label="Meses">
                            <option value="7">Enero</option>
                            <option value="8">Febrero</option>
                            <option value="9">Marzo</option>
                            <option value="10">Abril</option>
                            <option value="11">Mayo</option>
                            <option value="12">Junio</option>
                            <option value="13">Julio</option>
                            <option value="14">Agosto</option>
                            <option value="15">Septiembre</option>
                            <option value="16">Octubre</option>
                            <option value="17">Noviembre</option>
                            <option value="18">Diciembre</option>
                        </optgroup>
                    </select>
                </div>

                <div class="form-group col" v-if="FILTROS.tipoCorte !== 'porFecha_Emision'
                                                                        && FILTROS.tipoCorte !== 'porFecha_Vencimiento'">
                    <label for="reporteFechaDesde">Desde</label>
                    <input id="reporteFechaDesde" class="form-control col-md" type="date" v-model="FILTROS.minFecha_emision" />
                </div>

                <div class="form-group col" v-if="FILTROS.tipoCorte !== 'porFecha_Emision'
                                                                        && FILTROS.tipoCorte !== 'porFecha_Vencimiento'">
                    <label for="reporteFechaHasta">Hasta</label>
                    <input id="reporteFechaHasta" class="form-control col-md" type="date" v-model="FILTROS.maxFecha_emision" />
                </div>

                <div class="form-group col">
                    <label>Vendedor</label>
                    <select class="custom-select col" v-model="FILTROS.vendedorSeleccionado">
                        <option selected value="">--SELECCIONE UNA OPCION--</option>
                        <option v-for="item in FILTROS.vendedores" v-bind:value="item.Codigo_vendedor">{{ item.Nombre_vendedor | FilterUppercase }}</option>
                    </select>
                </div>

                <div v-if="FILTROS.tipoCorte !== 'porCategorias_de_Clientes'">
                    <div class="form-group col">
                        <label>Categoria Cliente</label>
                        <select class="custom-select col" v-model="FILTROS.categoriaClientesSeleccionada">
                            <option selected value="">--SELECCIONE UNA OPCION--</option>
                            <option v-for="item in FILTROS.categoriasClientes" v-bind:value="item.categoria_clte_id">{{ item.descripcion_categ | FilterUppercase }}</option>
                        </select>
                    </div>
                </div>

                <a class="btn btn-light" style="text-align:center; vertical-align:central; border-left: 1px solid;" v-on:click="Pagination()"><i class="material-icons" style="margin-top:80%;">search</i></a>
            </div>
        </div>
    </div>
</div>