<div id="filtrosClienteIndividualStatus" class="card border-info mb-3 Sombra card-body text-info" style="padding: 0px 6px 10px 6px;" hidden>
    <div>
        <button class="btn btn-info"
                style="float: right; border:none; background:none; display:flex; color:#73bfb8;"
                title="Configuraciones avanzadas para los filtros"
                v-on:click="AjustesAvanzadosFiltros()"
                v-bind:disabled="FILTROS.mostrarDetallesProductosCorte">
            Ajustes Avanzados <i class="material-icons" style="color:#73bfb8; margin-left:4px;">settings</i>
        </button>
    </div>

    <div style="margin-top: 10px;">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row pl-3">
                    <div class="col-12 col-md-5 form-group">
                        <label class="font-weight-bold">Módulos</label>
                        <div class="row">
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" id="CPCCPPporCobrarCheck" value="porCobrar" v-model="FILTROS.tipoReporte">
                                <label class="form-check-label" for="CPCCPPporCobrarCheck">
                                    Cuentas Por Cobrar
                                </label>
                            </div>
                            <div class="form-check col-6">
                                <input class="form-check-input" type="radio" id="CPCCPPporPagar" value="porPagar" v-model="FILTROS.tipoReporte">
                                <label class="form-check-label" for="CPCCPPporPagar">
                                    Cuentas Por Pagar
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card border-info col-12 col-lg-4 form-group mb-0" v-if="FILTROS.tipoConsulta === 'analisis_Grafico'">
                        <div class="card-body p-1">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <label class="font-weight-bold">Tipo de análisis</label>
                                    <select class="custom-select" v-model="FILTROS.tipoCorte" v-on:change="TipoCorteChanged()">
                                        <option value="porFecha_Emision">Por Fecha Emisión</option>
                                        <option value="porFecha_Vencimiento">Por Fecha Vencimiento</option>
                                        <option value="porCliente">Por Cliente</option>
                                        <option value="porVendedor">Por Vendedor</option>
                                        <option value="porCategorias_de_Clientes">Por Categoria de {{ tituloClienteOProveedor }}</option>
                                        <option value="porAntigüedad_de_saldos" disabled>Por antigüedad de saldos</option>
                                    </select>
                                </div>

                                <div class="d-flex flex-column justify-content-end col-12 col-lg-6">
                                    <div class="form-check" v-if="this.FILTROS.tipoCorte === 'porFecha_Emision'
                                                                    || this.FILTROS.tipoCorte === 'porFecha_Vencimiento'">
                                        <input id="VDcheckboxPorMes" type="checkbox" class="form-check-input" v-model="FILTROS.agruparPorMes">
                                        <label for="VDcheckboxPorMes" class="form-check-label font-italic">Por Mes</label>
                                    </div>

                                    <div class="form-check">
                                        <input id="CPCCPPcheckboxMostrarDetalles" type="checkbox" class="form-check-input" v-model="FILTROS.mostrarDetallesProductosCorte">
                                        <label for="CPCCPPcheckboxMostrarDetalles" class="form-check-label font-italic">Sin Detalles</label>
                                    </div>

                                    <div class="form-check">
                                        <input id="checkboxAnalisisGrafico" type="checkbox" class="form-check-input" v-model="FILTROS.analisisGrafico">
                                        <label for="checkboxAnalisisGrafico" class="form-check-label font-italic">Análisis Gráfico</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 10px;" />

        <div class="row">
            <div class="col-12 col-lg-4" data-toggle="tooltip" data-placement="bottom">
                <label class="font-weight-bold">Tipo Consulta</label>
                <select class="custom-select" v-model="FILTROS.tipoConsulta" v-on:change="TipoConsultaSelectChanged()">
                    <option value="RFA01">Por Numero</option>
                    <option value="RFA02">Por Monto</option>
                    <option value="RFA04" disabled>Por Cliente</option>
                    <option value="RFA03">Por Termino de Pago</option>
                    <option value="tipo_de_Documento">Por Tipo de Documento</option>
                    <option value="RFA09">Por Comprobante</option>
                    <option value="estadoCuentaIndividual">Estado de Cuenta Individual</option>
                    <option value="">Por Cuenta por Cobrar en General</option>
                    <option value="" disabled>Por Antigüedad de Saldos</option>
                    <option value="" disabled>Por Analisis de Cobros</option>
                    <option value="analisis_Grafico">Análisis Gráfico y Estadísticas Avanzadas</option>
                </select>
            </div>

            <div class="col-12 col-lg-8">
                <div class="row d-flex align-items-end">
                    @*METODO DE AGRUPACION*@
                    <div id="CPCCPPagrupacionDiv" class="col-12"
                         v-if="FILTROS.tipoConsulta === 'analisis_Grafico'">
                        @* FILTRO AGRUPACION POR FECHA RANGO*@
                        <div v-if="FILTROS.tipoCorte === 'porFecha_Emision'
                                             || FILTROS.tipoCorte === 'porFecha_Vencimiento'">
                            <div class="row">
                                <div class="form-group col-12 col-lg-2">
                                    <label for="reporteFechaDesde">Elegir Fecha</label>
                                    <select class="custom-select" v-model="FILTROS.desdeHastaRango">
                                        <option value="" disabled>Personalizada</option>
                                        <option value="-1" selected>Sin Fecha</option>
                                        <option value="0">Hoy</option>
                                        <option value="1">Esta Semana</option>
                                        <option value="2">Este Mes</option>
                                        <option value="3">Mes Anterior</option>
                                        <option value="4">Este Año</option>
                                        <option value="5">2 Años</option>
                                        <option value="6">3 Años</option>
                                        <optgroup label="Meses">
                                            <option value="7">Enero</option>
                                            <option value="8">Febrero</option>
                                            <option value="9">Marzo</option>
                                            <option value="10">Abril</option>
                                            <option value="11">Mayo</option>
                                            <option value="12">Junio</option>
                                            <option value="13">Julio</option>
                                            <option value="14">Agosto</option>
                                            <option value="15">Septiembre</option>
                                            <option value="16">Octubre</option>
                                            <option value="17">Noviembre</option>
                                            <option value="18">Diciembre</option>
                                        </optgroup>
                                    </select>
                                </div>

                                <div class="form-group col">
                                    <label for="reporteFechaDesde">Desde</label>
                                    <input id="reporteFechaDesde" v-bind:disabled="FILTROS.desdeHastaRango === '-1'" class="form-control col-md" type="date" v-model="FILTROS.minFecha_emision" />
                                </div>

                                <div class="form-group col">
                                    <label for="reporteFechaHasta">Hasta</label>
                                    <input id="reporteFechaHasta" v-bind:disabled="FILTROS.desdeHastaRango === '-1'" class="form-control col-md" type="date" v-model="FILTROS.maxFecha_emision" />
                                </div>
                            </div>
                        </div>

                        @* FILTRO AGRUPACION POR VALOR ESPECIFIVO*@
                        <div v-if="FILTROS.tipoCorte === 'porCliente'
                                    || FILTROS.tipoCorte === 'porVendedor'">
                            <label class="font-weight-bold">
                                {{ FILTROS.tipoCorte.replace('por', '').replace('_', ' ') }} Espesifico
                            </label>
                            <input type="text" class="form-control" v-model="FILTROS.valor" />
                        </div>

                        @* FILTRO AGRUPACION POR CATEGORIA DE CLIENTE*@
                        <div v-if="FILTROS.tipoCorte === 'porCategorias_de_Clientes' && FILTROS.tipoReporte === 'porCobrar'">
                            <label class="font-weight-bold">Opción</label>
                            <select class="custom-select" v-model="FILTROS.categoriaClientesAgrupacionSeleccionada">
                                <option selected value="">--SELECCIONE UNA OPCION--</option>
                                <option v-for="item in FILTROS.categoriasClientes" v-bind:value="item.categoria_clte_id">{{ item.descripcion_categ | FilterUppercase }}</option>
                            </select>
                        </div>

                        @* FILTRO AGRUPACION POR CATEGORIA DE PROVEEDOR*@
                        <div v-if="FILTROS.tipoCorte === 'porCategorias_de_Clientes' && FILTROS.tipoReporte === 'porPagar'">
                            <label class="font-weight-bold">Opción</label>
                            <select class="custom-select" v-model="FILTROS.categoriaProveedorAgrupacionSeleccionada">
                                <option selected value="">--SELECCIONE UNA OPCION--</option>
                                <option v-for="item in FILTROS.categoriasProveedores" v-bind:value="item.Categoria_idpv">{{ item.descripcion_categpv | FilterUppercase }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'RFA04'">
                        <label class="font-weight-bold">Valor</label>
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="FILTROS.valor" />
                        </div>
                    </div>


                    @*CLIENTES PROVEEDORES*@
                    <div class="col-lg-5" v-if=" FILTROS.tipoConsulta === 'estadoCuentaIndividual'">
                        <label class="font-weight-bold">Código</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-info" style="padding:3px;" v-on:click="ModalBuscarClientes()"><i class="material-icons">person_search</i></button>
                            </div>
                            <input type="text" class="form-control" v-model="FILTROS.codCliente" placeholder="Código">
                        </div>
                    </div>

                    @*SELECT TIPO DOCUMENTO*@
                    <div class="col-12 col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'tipo_de_Documento'">
                        <label class="font-weight-bold">Opción</label>
                        <select class="custom-select" v-model="FILTROS.tipoDocumento">
                            <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                            <option disabled value="factura" v-if="FILTROS.tipoReporte === 'porCobrar'">Factura</option>
                            <option disabled value="compra" v-if="FILTROS.tipoReporte === 'porPagar'">Compra</option>
                            <option disabled value="nota_debito">Nota Débito</option>
                            <option disabled value="nota_credito">Nota Crédito</option>
                            <option disabled value="gubernamental">Pago</option>
                        </select>
                    </div>

                    @*SELECT POR COMPROBANTE*@
                    <div class="col-12 col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'RFA09'">
                        <label class="font-weight-bold">Opción</label>
                        <select class="custom-select" v-model="FILTROS.comprobante">
                            <option value="creditoFiscal">Crédito Fiscal</option>
                            <option value="consumo">Consumo</option>
                            <option value="nota_de_debito">Nota de Débito</option>
                            <option value="nota_de_credito">Nota Crédito</option>
                            <option value="comprobante_de_compras" v-if="FILTROS.tipoReporte === 'porPagar'">Comprobante de Compra</option>
                            <option value="gasto_menor" v-if="FILTROS.tipoReporte === 'porPagar'">Gasto Menor</option>
                            <option value="especial">Especial</option>
                            <option value="gubernamental">Gubernamental</option>
                            <option value="exportaciones">Exportaciones</option>
                        </select>
                    </div>

                    <div class="form-check col-12 col-lg-4"
                         v-if="FILTROS.tipoConsulta === 'RFA09'
                            && FILTROS.tipoReporte === 'porPagar'">
                        <input type="checkbox" class="form-check-input" id="CPCCPPporCobrarCheckSoloFormatoElectronico" v-model="FILTROS.soloNCFFormatoElectronico">
                        <label class="form-check-label" for="CPCCPPporCobrarCheckSoloFormatoElectronico">Sólo Electronico</label>
                    </div>

                    @*SELECT TERMINO PAGO*@
                    <div class="col-12 col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'RFA03'">
                        <label class="font-weight-bold">Opción</label>
                        <select class="custom-select" v-model="FILTROS.terminoDePagoSeleccionado">
                            <option selected value="">--SELECCIONE UNA OPCION--</option>
                            <option v-for="item in FILTROS.terminoDePago" v-bind:value="item.termino_id">{{item.Descripcion_termino}}</option>
                        </select>
                    </div>

                    @*SELECT POR NUMERO*@
                    <div class="col-12 col-lg-5"
                         v-if="FILTROS.tipoConsulta === 'RFA01'">
                        <label class="font-weight-bold">Opción</label>
                        <select class="custom-select" v-model="FILTROS.numeroSeleccion">
                            <option selected value="documento">Documento</option>
                            <option value="factura">Factura</option>
                        </select>
                    </div>

                    @*DESDE Y HASTA*@
                    <div class="col-12 col-lg-7" v-if="FILTROS.tipoConsulta === 'RFA01'
                                                        || FILTROS.tipoConsulta === 'RFA02'">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label class="font-weight-bold">Desde</label>
                                <input type="text" class="form-control"
                                       v-model="FILTROS.desde"
                                       v-on:input="FILTROS.hasta = FILTROS.desde"
                                       v-bind:disabled="FILTROS.tipoConsulta !== 'RFA01'
                                                                            && FILTROS.tipoConsulta !== 'RFA02'" />
                            </div>

                            <div class="col-12 col-lg-6">
                                <label class="font-weight-bold">Hasta</label>
                                <input type="text" class="form-control"
                                       v-model="FILTROS.hasta"
                                       v-bind:disabled="FILTROS.tipoConsulta !== 'RFA01'
                                                                            && FILTROS.tipoConsulta !== 'RFA02'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin: 10px;" />
    </div>

    <div class="card border-info">
        <div class="card-body" style="padding: 15px;">
            <div class="row">
                <div class="form-group col-12 col-lg-2" v-if="FILTROS.tipoCorte !== 'porFecha_Emision'
                                             && FILTROS.tipoCorte !== 'porFecha_Vencimiento'">
                    <label for="reporteFechaDesde">Elegir Fecha</label>
                    <select class="custom-select" v-model="FILTROS.desdeHastaRango">
                        <option value="" disabled>Personalizada</option>
                        <option value="-1" selected>Sin Fecha</option>
                        <option value="0">Hoy</option>
                        <option value="1">Esta Semana</option>
                        <option value="2">Este Mes</option>
                        <option value="3">Mes Anterior</option>
                        <option value="4">Este Año</option>
                        <option value="5">2 Años</option>
                        <option value="6">3 Años</option>
                        <optgroup label="Meses">
                            <option value="7">Enero</option>
                            <option value="8">Febrero</option>
                            <option value="9">Marzo</option>
                            <option value="10">Abril</option>
                            <option value="11">Mayo</option>
                            <option value="12">Junio</option>
                            <option value="13">Julio</option>
                            <option value="14">Agosto</option>
                            <option value="15">Septiembre</option>
                            <option value="16">Octubre</option>
                            <option value="17">Noviembre</option>
                            <option value="18">Diciembre</option>
                        </optgroup>
                    </select>
                </div>

                <div class="form-group col-12 col-lg-2" v-if="FILTROS.tipoCorte !== 'porFecha_Emision'
                                                                        && FILTROS.tipoCorte !== 'porFecha_Vencimiento'">
                    <label for="reporteFechaDesde">Desde</label>
                    <input id="reporteFechaDesde"
                           class="form-control col-md"
                           type="date"
                           v-model="FILTROS.minFecha_emision"
                           v-bind:disabled="FILTROS.desdeHastaRango === '-1'"/>
                </div>

                <div class="form-group col-12 col-lg-2" v-if="FILTROS.tipoCorte !== 'porFecha_Emision'
                                                                        && FILTROS.tipoCorte !== 'porFecha_Vencimiento'">
                    <label for="reporteFechaHasta">Hasta</label>
                    <input id="reporteFechaHasta"
                           class="form-control col-md"
                           type="date"
                           v-model="FILTROS.maxFecha_emision"
                           v-bind:disabled="FILTROS.desdeHastaRango === '-1'"/>
                </div>

                <a class="btn btn-light col" style="text-align:center; vertical-align:central; border-left: 1px solid;" v-on:click="Buscar()"><i class="material-icons" style="margin-top:3%;" id="CPCCPPIconBottonBuscar">search</i></a>
            </div>
        </div>
    </div>
</div>
