@Html.Partial("~/Views/Componentes/_LoadingPage.cshtml")

@Html.Partial("~/Views/Componentes/_BotonesNavegacion.cshtml")

@Html.Partial("~/Views/Paginas/_Empresas.cshtml")

<div class="alert alert-danger" role="alert" id="sinEmpresasATrabajar" hidden>
    Ninguna empresa disponible para acceder, comuniquese con el administrador para solucionar el problema.
    <hr/>
    <button onclick="CloseUserSession()" type="button" class="btn btn-danger mt-2" style="width:100%"><i class="material-icons" style="margin-right:10px; vertical-align:bottom">close</i>Cerrar Sección</button>
</div>

@section scripts{
    <script>
        document.getElementById('btnUsuario').innerHTML = `${window.localStorage.getItem('NombreUsuario')}`;
    </script>
    <script src="~/Scripts/js/SeleccionarEmpresa.js"></script>
}