<div class="modal fade bd-example-modal-lg" id="CBreporteModalFormato" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="p-5">
                <button type="button" class="btn btn-outline-danger" style="float:right;" onclick="$('#CBreporteModalFormato').modal('hide');"><i class="material-icons" style="vertical-align:bottom">close</i></button>

                <div>
                    <h1>Ajustes Avanzados Para las Consultas</h1>

                    <hr />

                    <div class="card border-info text-info">
                        <div class="card-body p-4">
                            <label class="font-weight-bold">Configuraciones de Consulta</label>
                            <div class="row">
                                @*  CONFIGURACION DE QUERY*@
                                <div class="form-check col-12 col-lg-3">
                                    <input id="CBBalanceMayor0Check" type="checkbox" class="form-check-input" v-model="FILTROS.ConBalance">
                                    <label class="form-check-label" for="CBBalanceMayor0Check">Balance > 0</label>
                                </div>

                                <div class="form-check col-12 col-lg-6" v-if="FILTROS.tipoConsulta === 'Informe_607'">
                                    <input id="CBNotasCreditoCXC" type="checkbox" class="form-check-input" disabled>
                                    <label class="form-check-label" for="CBNotasCreditoCXC">Incluir Notas de Créditos desde CXC</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>