<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="p-5">
            <button type="button" class="btn btn-outline-danger" style="float:right;" onclick="$(`#${this.parentElement.parentElement.parentElement.parentElement.id}`).modal('hide');"><i class="material-icons" style="vertical-align:bottom">close</i></button>

            <div>
                <h1>{{modalData.titulo}}</h1>

                <hr />

                <div class="card border-info text-info">
                    <div class="card-body p-4">
                        <div class="row">
                            @*  FILTRO*@
                            <input class="form-control form-control-sm col-12 col-lg-11" type="text" v-model="modalData.nombreClienteABuscar" placeholder="Nombre">
                            <button class="btn btn-info col-12 col-lg-1" style="padding:0;" v-on:click="ModalBuscarClientes()"><i class="material-icons" style="vertical-align:bottom">search</i></button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in modalData.clientes">
                            <td>{{ item.codigo }}</td>
                            <td>{{ item.nombre }}</td>
                            <td style="text-align:right;"> <button class="btn btn-info" style="padding:0;" v-on:click="ModalClienteSleccionado(item.codigo + ' - ' + item.nombre)"><i class="material-icons" style="vertical-align:bottom">person</i> Seleccionar</button> </td>
                        </tr>
                    </tbody>
                </table>

                @*<nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li v-bind:class="{'page-item': true, disabled: modalData.PaginatorIndex === 0 ? true : false}" title="Primera pagina">
                                <a class="page-link" v-on:click="Pagination(0, modalData, 'paginator')"><<</a>
                            </li>
                            <li v-bind:class="{'page-item': true, disabled: modalData.PaginatorIndex === 0 ? true : false}" title="Anterior">
                                <a class="page-link" v-on:click="Pagination(-1, modalData, 'paginator')"><</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link">{{ modalData.PaginatorIndex + 1 }}</a>
                            </li>
                            <li v-bind:class="{'page-item':true, disabled: modalData.PaginatorIndex === modalData.PaginatorLastPage ? true : false}" title="Siguiente">
                                <a class="page-link" v-on:click="Pagination(+1, modalData, 'paginator')">></a>
                            </li>
                            <li v-bind:class="{'page-item':true, disabled: modalData.PaginatorIndex === modalData.PaginatorLastPage ? true : false}" title="Ultima pagina">
                                <a class="page-link" v-on:click="Pagination('MAX', modalData, 'paginator')">>></a>
                            </li>
                        </ul>
                    </nav>*@
            </div>
        </div>
    </div>
</div>