<div id="divTablaComprasVentasCotizaciones" class="col-12" v-if="DATA.length > 0" style="width:99%">
    <table id="tablaComprasVentasCotizaciones" class="table table-striped">
        <thead>
            <tr class="tableHeader">
                <th style="text-align:left;" v-if="!toggleTableColumns_byMostrarDetallesProductosCorte" scope="col"></th>

                <th style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Nro.</th>
                <th style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Fecha Emisión</th>
                <th style="text-align:right;" v-if="FILTROS.tipoReporteBuscado !== 'cotizaciones'
                    && toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Fecha Vencimiento</th>
                <th style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Nombre Cliente</th>
                <th style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Vendedor</th>
                <th style="text-align:left;" v-if="FILTROS.tipoReporteBuscado !== 'cotizaciones'
                    && toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Comprobante Fiscal</th>
                <th style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Estatus</th>
                <th style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Término</th>
                <th style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Moneda</th>
                <th style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte" scope="col">Descuento</th>
                <th style="text-align:right;" scope="col">Sub-Total</th>
                <th style="text-align:right;" scope="col">Impuesto</th>
                <th style="text-align:right;" scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="element in DATA">
                <td style="text-align:left;" v-if="!toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.categorizacionSinDetalles }}</td>

                <td style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.nro }}</td>
                <td style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.fecha | FilterDateFormat }}</td>
                <td style="text-align:right;" v-if="FILTROS.tipoReporteBuscado !== 'cotizaciones'
                    && toggleTableColumns_byMostrarDetallesProductosCorte">
                    {{ element.fecha_vcmto | FilterDateFormat }}
                </td>
                <td style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.NOMBRECLIENTE | FilterUppercase }}</td>
                <td style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.Nombre_vendedor | FilterUppercase }}</td>
                <td style="text-align:left;" v-if="FILTROS.tipoReporteBuscado !== 'cotizaciones'
                    && toggleTableColumns_byMostrarDetallesProductosCorte">
                    {{ element.ncf | FilterUppercase }}
                </td>
                <td style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.estatus | FilterEstatusCotizacion }}</td>
                <td style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.Descripcion_terminopv | FilterUppercase }}</td>
                <td style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.moneda | FilterMoneda }}</td>
                <td style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.dscto_monto | FilterStringToMoneyFormat }}</td>
                <td style="text-align:right;">{{ element.subtotal | FilterStringToMoneyFormat }}</td>
                <td style="text-align:right;">{{ element.impuesto_monto | FilterStringToMoneyFormat }}</td>
                <td style="text-align:right;">{{ element.total | FilterStringToMoneyFormat }}</td>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li v-bind:class="{'page-item': true, disabled: FILTROS.PaginatorIndex === 0 ? true : false}" title="Primera pagina">
                <a class="page-link" v-on:click="Pagination(0)"><<</a>
            </li>
            <li v-bind:class="{'page-item': true, disabled: FILTROS.PaginatorIndex === 0 ? true : false}" title="Anterior">
                <a class="page-link" v-on:click="Pagination(-1)"><</a>
            </li>
            <li class="page-item active">
                <a class="page-link">{{ FILTROS.PaginatorIndex + 1 }}</a>
            </li>
            <li v-bind:class="{'page-item':true, disabled: FILTROS.PaginatorIndex === FILTROS.PaginatorLastPage ? true : false}" title="Siguiente">
                <a class="page-link" v-on:click="Pagination(+1)">></a>
            </li>
            <li v-bind:class="{'page-item':true, disabled: FILTROS.PaginatorIndex === FILTROS.PaginatorLastPage ? true : false}" title="Ultima pagina">
                <a class="page-link" v-on:click="Pagination('MAX')">>></a>
            </li>
        </ul>
    </nav>
</div>

@*  GRAFICOS*@
<div id="CDCdivGraficosDatosAgrupados"
     class="col-12"
     hidden>
    <div class="row">
        <div class="col-12 col-lg-8">
            <canvas id="CDCreportesGraficos"></canvas>
        </div>

        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="card card-body border-info text-info text-center p-0">
                        <div class="card-header">
                            <label class="font-weight-bold">Parámetros de Análisis Gráfico</label>
                        </div>
                        <label class="font-weight-bold">Desde {{ FILTROS.fechaMinReporteBuscado | FilterDateFormat }} Hasta {{ FILTROS.fechaMaxReporteBuscado  | FilterDateFormat }}</label>
                        <label class="font-weight-bold">Categoria Clientes {{ FILTROS.categoriaClientesBuscada | FilterUppercase }}</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card card-body border-info text-info text-center p-0">
                        <div class="card-header">
                            <label class="font-weight-bold">Total</label>
                        </div>
                        <label class="font-weight-bold">{{ FILTROS.totalReporteBuscado | FilterStringToMoneyFormat }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>