<div class="col-12" v-if="DATA.length > 0" style="width:99%">
    <table id="tablaEstadoCuentaCliente" class="table table-striped">
        <thead>
            <tr>
                <th style="text-align:right;" scope="col">Número</th>
                <th style="text-align:left;" scope="col">Tipo</th>
                <th style="text-align:right;" scope="col">Emisión</th>
                <th style="text-align:right;" scope="col">Vencimiento</th>
                <th scope="col" v-if="FILTROS.mostrarNCF">NCF</th>
                <th style="text-align:left;" scope="col">Descripción</th>
                <th style="text-align:right;" scope="col">Cod. Cliente</th>
                <th style="text-align:left;" scope="col">Nombre</th>
                <th style="text-align:right;" scope="col">Días Transcurridos</th>
                <th style="text-align:left;" scope="col">Nombre Vendedor</th>
                <th style="text-align:right;" scope="col">Monto</th>
                <th style="text-align:right;" scope="col">Pagos Acumulados</th>
                <th style="text-align:right;" scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="element in DATA" v-bind:style="element.balance === 0 ? 'background-color: #17a2b8' : element.nro_dcmto ? 'background-color: #f76876' : ''">
                <td style="text-align:right;">{{ element.nro_dcmto }}</td>
                <td style="text-align:left;" >{{ element.tipo }}</td>
                <td style="text-align:right;">{{ element.fecha_emision | FilterDateFormat }}</td>
                <td style="text-align:right;">{{ element.fecha_vcmto | FilterDateFormat }}</td>
                <td v-if="FILTROS.mostrarNCF">{{ element.ncf }}</td>
                <td style="text-align:left;">{{ element.descripcion_dcmto | FilterUppercase }}</td>
                <td style="text-align:right;">{{ element.codigo_clte }}</td>
                <td style="text-align:left;">{{ element.nombre | FilterUppercase }}</td>
                <td style="text-align:right;">{{ element.diasTrancurridos }}</td>
                <td style="text-align:left;">{{ element.Nombre_vendedor | FilterUppercase }}</td>
                <td style="text-align:right;">{{ element.monto | FilterStringToMoneyFormat }}</td>
                <td style="text-align:right;">{{ element.pagosAcumulados | FilterStringToMoneyFormat }}</td>
                <td style="text-align:right;">{{ element.balance | FilterStringToMoneyFormat }}</td>
        </tbody>
    </table>
</div>