<div class="col-12" v-if="DATA.length > 0" style="width:99%">
    <table id="tablaEstadoCuentaCliente" class="table table-striped">
        <thead>
            <tr class="tableHeader">
                <th v-if="!toggleTableColumns_byMostrarDetallesProductosCorte" scope="col"></th>

                <th style="text-align:right;" scope="col" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirNumero) && toggleTableColumns_byMostrarDetallesProductosCorte">Número</th>
                <th style="text-align:left;" scope="col" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirTipo) && toggleTableColumns_byMostrarDetallesProductosCorte">Tipo</th>
                <th style="text-align:right;" scope="col" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">Emisión</th>
                <th style="text-align:right;" scope="col" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">Vencimiento</th>
                <th scope="col" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.campoNCFBuscado) && toggleTableColumns_byMostrarDetallesProductosCorte">NCF</th>
                <th style="text-align:left;" scope="col" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">Descripción</th>
                <th style="text-align:right;" scope="col" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirCodCliente) && toggleTableColumns_byMostrarDetallesProductosCorte">Cod. Cliente</th>
                <th style="text-align:left;" scope="col" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirNombre) && toggleTableColumns_byMostrarDetallesProductosCorte">Nombre</th>
                <th style="text-align:right;" scope="col" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ tituloDiasMostrados }}</th>
                <th style="text-align:left;" scope="col" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">Nombre Vendedor</th>
                <th style="text-align:right;" scope="col">Monto</th>
                <th style="text-align:right;" scope="col">Pagos Acumulados</th>
                <th style="text-align:right;" scope="col">Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="element in DATA" v-bind:style="element.balance === 0 ? 'color: #f76876' : element.nro_dcmto ? 'color: #17A2B8' : ''">
                <td v-if="!toggleTableColumns_byMostrarDetallesProductosCorte" style="text-align:left;">{{ element.categorizacionSinDetalles | FilterUppercase }}</td>

                <td style="text-align:right;" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirNumero) && toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.nro_dcmto | FilterRemoveLeftZeros }}</td>
                <td style="text-align:left;" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirTipo) && toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.tipo }}</td>
                <td style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.fecha_emision | FilterDateFormat }}</td>
                <td style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.fecha_vcmto | FilterDateFormat }}</td>
                <td v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.campoNCFBuscado) && toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.ncf }}</td>
                <td style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.descripcion_dcmto | FilterUppercase }}</td>
                <td style="text-align:right;" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirCodCliente) && toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.codigo_clte }}</td>
                <td style="text-align:left;" v-if="(FILTROS.FormatoConsultas === 'personalizado' && FILTROS.incluirNombre) && toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.nombre | FilterUppercase }}</td>
                <td style="text-align:right;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.diasTrancurridos }}</td>
                <td style="text-align:left;" v-if="toggleTableColumns_byMostrarDetallesProductosCorte">{{ element.Nombre_vendedor | FilterUppercase }}</td>
                <td style="text-align:right;">{{ element.monto | FilterStringToMoneyFormat }}</td>
                <td style="text-align:right;">{{ element.pagosAcumulados | FilterStringToMoneyFormat }}</td>
                <td style="text-align:right;">{{ element.balance | FilterStringToMoneyFormat }}</td>
        </tbody>
    </table>
</div>

@*  GRAFICOS*@
<div id="CPCCPPdivGraficosDatosAgrupados"
     class="col-12"
     hidden>
    <div class="row">
        <div class="col-12 col-lg-8">
            <canvas id="CPCCPPreportesGraficos"></canvas>
        </div>

        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="card card-body border-info text-info text-center p-0">
                        <div class="card-header">
                            <label class="font-weight-bold">Parámetros de Análisis Gráfico</label>
                        </div>
                        <label class="font-weight-bold">Desde {{ FILTROS.fechaMinReporteBuscado | FilterDateFormat }} Hasta {{ FILTROS.fechaMaxReporteBuscado  | FilterDateFormat }}</label>
                        <label class="font-weight-bold">Categoria Clientes {{ FILTROS.categoriaClientesBuscada | FilterUppercase }}</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card card-body border-info text-info text-center p-0">
                        <div class="card-header">
                            <label class="font-weight-bold">Total</label>
                        </div>
                        <label class="font-weight-bold">{{ FILTROS.totalReporteBuscado | FilterStringToMoneyFormat }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>