<div id="SeleccionarReporte" hidden>

    <button id="btnReporteMostrarMenu" class="btn btn-info mt-2 btnReporteMenu" onclick="BtnMostrarMenuReportes()"><i class="material-icons" style="margin-right:10px; vertical-align:bottom">menu</i>Abrir menú</button>

    <hr />

    @*  MENU*@
    <div id="seleccionarReporte" style="position:absolute; left:0;" class="menuReportes">
        <div id="accordion">
            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseOne" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/sell.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">VENTAS</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseTwo" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/cash.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">CUENTAS POR COBRAR</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>

                <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <p style="cursor:pointer; padding-bottom:10px; border-bottom: 2px solid" v-on:click="OptCuentasPorCobrarClte()">Cuentas por cobrar Cliente</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseTwo" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/cash.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">CUENTAS POR PAGAR</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>

                @*<div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>cs</p>
                        </div>
                    </div>*@
            </div>

            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseTwo" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/cash.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">INVENTARIO</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>

                @*<div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>cs</p>
                        </div>
                    </div>*@
            </div>

            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseTwo" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/cash.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">COTIZACIONES</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>

                @*<div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>cs</p>
                        </div>
                    </div>*@
            </div>

            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseTwo" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/cash.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">CONDUCES</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>

                @*<div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>cs</p>
                        </div>
                    </div>*@
            </div>

            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseTwo" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/cash.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">BANCO</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>

                @*<div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>cs</p>
                        </div>
                    </div>*@
            </div>

            <div class="card">
                <div class="card-header bg-info p-0">
                    <div class="btn btn-info m-0" data-toggle="collapse" data-target="#collapseTwo" style="width:100%; font-weight:bold;">
                        <div style="display:flex; justify-content:space-between; align-items: flex-end;">
                            <img src="~/Content/assets/cash.png" alt="Icono_Ventas" />
                            <p style="margin-bottom:0; margin: 0 20px;">CONTABBILIDAD</p>
                            <img src="~/Content/assets/down-arrow.png" width="20" alt="Icono_Ventas" />
                        </div>
                    </div>
                </div>

                @*<div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>cs</p>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    @*  CONTENIDO*@
    <div id="filtrosReportes" style="display:flex; justify-content:center">
        <div class="card border-info mb-3 mt-2 Sombra filtros">
            <div class="card-body text-info">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label>Codigo Cliente</label>
                            <input type="text" id="inputCodigoClienteFiltroReporte" style="width:100%" class="form-control autocomplete" placeholder="Código del cliente">
                            <small id="validationReportesCodigoCliente" class="form-text" style="color:red;" hidden>Débe ingresar un código.</small>
                        </div>
                    </div>

                    <div style="font-weight:400">
                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="reportMostrarNCF" v-model="Reportes.IndividualClientStatusFILTROS.mostrarNCF">
                                <label class="form-check-label" for="reportMostrarNCF">Mostrar NCF</label>
                            </div>
                        </div>

                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="reportDocsVencidos" v-model="Reportes.IndividualClientStatusFILTROS.soloDocsVencidos">
                                <label class="form-check-label" for="reportDocsVencidos">Solo DOCS. Vencidos</label>
                            </div>
                        </div>

                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="reportFirmas" v-model="Reportes.IndividualClientStatusFILTROS.incluirFirmas" disabled>
                                <label class="form-check-label" for="reportFirmas">Incluir Firmas</label>
                            </div>
                        </div>

                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="reportMoras" v-model="Reportes.IndividualClientStatusFILTROS.incluirMoras" disabled>
                                <label class="form-check-label" for="reportMoras">Incluir Moras</label>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-light" style="text-align:center; vertical-align:central; border-left: 1px solid;" v-on:click="ValidarCampoCodigoCliente()"><i class="material-icons" style="margin-top:80%;">search</i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="contenidosReportes" class="Tables" style="display:flex; justify-content:center">
        <div v-if="Reportes.IndividualClientStatusDATA.length">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Emisión</th>
                        <th scope="col">Vencimiento</th>
                        <th scope="col" v-if="Reportes.IndividualClientStatusFILTROS.mostrarNCF">NCF</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Días Transcurridos</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Pagos Acumulados</th>
                        <th scope="col">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="element in Reportes.IndividualClientStatusDATA">
                        <td style="text-align:center;">{{ element.fecha_emision | FilterDateFormat }}</td>
                        <td>{{ element.fecha_vcmto | FilterDateFormat }}</td>
                        <td v-if="Reportes.IndividualClientStatusFILTROS.mostrarNCF">{{ element.ncf }}</td>
                        <td style="text-align:center;">{{ element.descripcion_dcmto }}</td>
                        <td style="text-align:center;">{{ element.diasTrancurridos }}</td>
                        <td style="text-align:center;"></td>
                        <td style="text-align:center;">{{ element.pagosAcumulados }}</td>
                        <td style="text-align:center;"></td>
                </tbody>
            </table>
        </div>
    </div>
</div>