<div id="SeleccionarReporte" hidden>

    <hr />

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div style="position:relative">
                <div class="sidebar-header">
                    <h3>Menú</h3>
                    <h3>De Opciones</h3>
                </div>

                <button type="button" class="btn btn-outline-info" style="position:absolute; top:26px; right:-16px;" onclick="BtnMostrarMenuReportes()"><i class="material-icons" style="position:relative; right:-12px;">menu</i></button>
            </div>

            <hr />

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ventas y<br />Devoluciones</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a v-on:click="OpcionMenuCeleccionado('VentasYDevolucionesCategoriaYVendedor')">Consultas y Reportes</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cuentas por Cobrar<br />Cliente</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a v-on:click="OpcionMenuCeleccionado('filtrosClienteIndividualStatus')">Consultas y Reportes</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div style="display:flex; flex-direction:column; width:100%; padding: 0 20px">
            <div id="content">
                <div>
                    @*FILTRO REPORTE VENTAS Y DEVOLUCIONES POR CATEGORIA Y VENDEDOR*@
                    <div id="VentasYDevolucionesCategoriaYVendedor" class="card border-info mb-3 p-3 Sombra card-body text-info" hidden>
                        <div>
                            <div class="row">
                                <div class="col-md">
                                    <div>
                                        <label class="font-weight-bold mr-2">Módulos</label>
                                        <div style="display:flex;">
                                            <div class="form-check" style="padding-right:40px">
                                                <input class="form-check-input" type="radio" id="ventasCheckVentasYDevolucionesCategoriaYVendedor" value="ventas" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoReporte">
                                                <label class="form-check-label" for="ventasCheckVentasYDevolucionesCategoriaYVendedor">
                                                    Ventas
                                                </label>
                                            </div>
                                            <div class="form-check" v-if="!Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta">
                                                <input class="form-check-input" type="radio" id="devolucionesCheckVentasYDevolucionesCategoriaYVendedor" value="devoluciones" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoReporte">
                                                <label class="form-check-label" for="devolucionesCheckVentasYDevolucionesCategoriaYVendedor">
                                                    Devoluciones
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md">
                                    <label class="font-weight-bold mr-2">Tipo de Factura</label>
                                    <div>
                                        <div class="row">
                                            <div class="form-check col" style="margin-left: 15px;">
                                                <input class="form-check-input" type="radio" id="clase1CheckVentasYDevolucionesCategoriaYVendedor" value="1" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipo_factura">
                                                <label class="form-check-label" for="clase1CheckVentasYDevolucionesCategoriaYVendedor">
                                                    Clase 1
                                                </label>
                                            </div>

                                            <div class="form-check col">
                                                <input class="form-check-input" type="radio" id="clase2CheckVentasYDevolucionesCategoriaYVendedor" value="2" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipo_factura">
                                                <label class="form-check-label" for="clase2CheckVentasYDevolucionesCategoriaYVendedor">
                                                    Clase 2
                                                </label>
                                            </div>

                                            <div class="form-check col">
                                                <input class="form-check-input" type="radio" id="clase3CheckVentasYDevolucionesCategoriaYVendedor" value="3" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipo_factura">
                                                <label class="form-check-label" for="clase3CheckVentasYDevolucionesCategoriaYVendedor">
                                                    Clase 3
                                                </label>
                                            </div>

                                            <div class="form-check col">
                                                <input class="form-check-input" type="radio" id="todoCheckVentasYDevolucionesCategoriaYVendedor" value="" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipo_factura">
                                                <label class="form-check-label" for="todoCheckVentasYDevolucionesCategoriaYVendedor">
                                                    Todo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style="margin-bottom: 10px;" />

                            <div class="row">
                                <div class="col-xl-4" style="display:flex; align-items:baseline" data-toggle="tooltip" data-placement="bottom">
                                    <label class="font-weight-bold mr-2">Tipo de Consulta</label>
                                    <div class="form-group col">
                                        <select class="custom-select col" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta" v-on:change="TipoConsultaSelectChanged()">
                                            <option selected value="">--SELECCIONE UNA OPCION--</option>
                                            <option value="RFA01">Por Rango Numero de Factura</option>
                                            <option value="RFA02">Por Rango Monto Facturado</option>
                                            <option value="RFA03">Por Termino de Pago</option>
                                            <option value="RFA04">Por Cliente registrado</option>
                                            <option value="RFA05">Por Cliente sin registrar</option>
                                            <option value="RFA06">Por Producto especifico</option>
                                            <option value="RFA0">Por Almacén o Bodega</option>
                                            <option value="RFA08">Por Vendedor y Categoría de Productos</option>

                                            <option disabled value="RFA09">Por Vendedor y Categoría de Clientes</option>
                                            <option disabled value="RFA10">Crear Libro de venta 607</option>
                                            <option disabled value="RFA11">Crear Libro de venta 608</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-xl-4"
                                             v-if="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta === 'RFA0'"
                                             style="display:flex; align-items:baseline">
                                            <label class="font-weight-bold mr-2">Opción</label>
                                            <div class="col">
                                                <div class="form-group">
                                                    <select class="custom-select col" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.nombresBodegaSeleccionada">
                                                        <option selected value="">--SELECCIONE UNA OPCION--</option>
                                                        <option v-for="item in Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.nombresBodega" v-bind:value="item.bodega_id">{{item.Nombre_bodega}}</option>
                                                    </select>
                                                    @*<small id="validationVentasYDevolucionesCategoriaYVendedorselectBodega" class="form-text" style="color:red;" hidden>Débe seleccionar una opción.</small>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4"
                                             v-if="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta === 'RFA08'"
                                             style="display:flex; align-items:baseline">
                                            <label class="font-weight-bold mr-2">Opción</label>
                                            <div class="col">
                                                <div class="form-group">
                                                    <select class="custom-select col" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.categoriasProductosSeleccionada">
                                                        <option selected value="">--SELECCIONE UNA OPCION--</option>
                                                        <option v-for="item in Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.categoriasProductos" v-bind:value="item.categoria_id">{{item.Descripcion_categ}}</option>
                                                    </select>
                                                    @*<small id="validationVentasYDevolucionesCategoriaYVendedorselectCategoriaProducto" class="form-text" style="color:red;" hidden>Débe seleccionar una opción.</small>*@
                                                </div>
                                            </div>
                                        </div>


                                        @*REPORTES QUE SON CON VALORES PREDEFINIDOS (SELECT/COMBOBOX)*@
                                        <div class="col-xl-4"
                                             v-if="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta === 'RFA04'
                                                        || Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta === 'RFA05'
                                                        || Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta === 'RFA06'"
                                             style="display:flex; align-items:baseline">
                                            <label class="font-weight-bold mr-2">Valor</label>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.valor" />
                                                    @*<small id="validationVentasYDevolucionesCategoriaYVendedorValor" class="form-text" style="color:red;" hidden>Débe ingresar un valor en este campo.</small>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4" style="display:flex; align-items:baseline"
                                             v-if="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta === 'RFA03'">
                                            <label class="font-weight-bold mr-2">Opción</label>
                                            <div class="col">
                                                <div class="form-group">
                                                    <select class="custom-select col" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.terminoDePagoSeleccionado">
                                                        <option selected value="">--SELECCIONE UNA OPCION--</option>
                                                        <option v-for="item in Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.terminoDePago" v-bind:value="item.termino_id">{{item.Descripcion_termino}}</option>
                                                    </select>
                                                    @*<small id="validationVentasYDevolucionesCategoriaYVendedorselectTerminoPago" class="form-text" style="color:red;" hidden>Débe seleccionar una opción.</small>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4" style="display:flex; align-items:baseline"
                                             v-if="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta !== ''
                                                    && Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta !== 'RFA05'">
                                            <label class="font-weight-bold mr-2">Desde</label>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.desde" v-on:input="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.hasta = Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.desde" />
                                                    @*<small id="validationVentasYDevolucionesCategoriaYVendedorDesde" class="form-text" style="color:red;" hidden>Débe ingresar un valor en este campo.</small>*@
                                                </div>
                                            </div>

                                            <label class="font-weight-bold mr-2">Hasta</label>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.hasta" />
                                                    @*<small id="validationVentasYDevolucionesCategoriaYVendedorHasta" class="form-text" style="color:red;" hidden>Débe ingresar un valor en este campo.</small>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-2" style="text-align: end; flex-direction:column;">
                                    <div class="form-check">
                                        <input id="checkboxVentasYDevolucionesCategoriaYVendedorMostrarSubTotal" type="checkbox" class="form-check-input" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.traerSubTotal">
                                        <label for="checkboxVentasYDevolucionesCategoriaYVendedorMostrarSubTotal" class="form-check-label">Mostrar Sub-Total</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" disabled>
                                        <label class="form-check-label">Análsis Grafico</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr style="margin-top: 0;" />

                        <div class="card border-info">
                            <div class="card-body" style="padding: 15px;">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="reporteFechaDesdeVentasYDevolucionesCategoriaYVendedor">Desde</label>
                                        <input id="reporteFechaDesdeVentasYDevolucionesCategoriaYVendedor" class="form-control col-md" type="date" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.minFecha_emision" />
                                    </div>

                                    <div class="form-group col">
                                        <label for="reporteFechaHastaVentasYDevolucionesCategoriaYVendedor">Desde</label>
                                        <input id="reporteFechaHastaVentasYDevolucionesCategoriaYVendedor" class="form-control col-md" type="date" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.maxFecha_emision" />
                                    </div>

                                    <div class="form-group col">
                                        <label>Vendedor</label>
                                        <select class="custom-select col" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.vendedorSeleccionado">
                                            <option selected value="">--SELECCIONE UNA OPCION--</option>
                                            <option v-for="item in Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.vendedores" v-bind:value="item.Codigo_vendedor">{{item.Nombre_vendedor | FilterUppercase}}</option>
                                        </select>
                                    </div>

                                    <div v-if="!Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.tipoConsulta">
                                        <div class="form-group col">
                                            <label>Categoria Cliente</label>
                                            <select class="custom-select col" v-model="Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.categoriaClientesSeleccionada">
                                                <option selected value="">--SELECCIONE UNA OPCION--</option>
                                                <option v-for="item in Reportes.VentasYDevolucionesCategoriaYVendedorFILTROS.categoriasClientes" v-bind:value="item.categoria_clte_id">{{item.descripcion_categ | FilterUppercase}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <a class="btn btn-light" style="text-align:center; vertical-align:central; border-left: 1px solid;" v-on:click="Buscar_VentasYDevolucionesCategoriaYVendedor()"><i class="material-icons" style="margin-top:80%;">search</i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @*FILTRO RESPORTE CLIENTE INDIVIDUAL STATUS*@
                <div id="filtrosClienteIndividualStatus" class="card border-info mb-3 p-3 Sombra card-body text-info" hidden>
                    <div>
                        <div class="row">
                            <div class="col-md">
                                <label class="font-weight-bold mr-2">Módulos</label>
                                <div style="display:flex;">
                                    <div class="form-check" style="padding-right:40px">
                                        <input class="form-check-input" type="radio" id="estadoCuentaClienteIndividualStatus" value="estadoCuentaCliente" checked>
                                        <label class="form-check-label" for="estadoCuentaClienteIndividualStatus">
                                            Estado de Cuenta del cliente
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr style="margin-bottom: 10px;" />

                        <div class="row">
                            <div class="col-lg-4" style="display:flex; align-items:baseline" data-toggle="tooltip" data-placement="bottom" title="Opciones deshabilitadas hasta que se tenga el Query">
                                <label class="font-weight-bold mr-2">Tipo de Consulta</label>
                                <div class="form-group col">
                                    <select class="custom-select col" disabled>
                                        <option disabled selected value="">--SELECCIONE UNA OPCION--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="row" style="display:flex; align-items:baseline">
                                    <label class="font-weight-bold mr-2">Desde</label>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control" disabled />
                                        </div>
                                    </div>

                                    <label class="font-weight-bold mr-2">Hasta</label>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4" style="text-align: end; display: flex; align-items: center; justify-content: flex-end; align-items:center">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" disabled>
                                    <label class="form-check-label">Análsis Grafico</label>
                                </div>
                            </div>
                        </div>

                        <hr style="margin-top: 0;" />

                        <div class="card border-info">
                            <div class="card-body" style="padding: 15px;">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Codigo Cliente</label>
                                            <input type="text" id="inputCodigoClienteFiltroReporte" style="width:100%" class="form-control autocomplete" placeholder="Código del cliente">
                                            <small id="validationReportesCodigoCliente" class="form-text" style="color:red;" hidden>Débe ingresar un código.</small>
                                        </div>
                                    </div>

                                    <div style="font-weight:400">
                                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="reportMostrarNCF" v-model="Reportes.IndividualClientStatusFILTROS.mostrarNCF">
                                                <label class="form-check-label" for="reportMostrarNCF">Mostrar NCF</label>
                                            </div>
                                        </div>

                                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="reportDocsVencidos" v-model="Reportes.IndividualClientStatusFILTROS.soloDocsVencidos">
                                                <label class="form-check-label" for="reportDocsVencidos">Solo DOCS. Vencidos</label>
                                            </div>
                                        </div>

                                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="reportFirmas" v-model="Reportes.IndividualClientStatusFILTROS.incluirFirmas" disabled>
                                                <label class="form-check-label" for="reportFirmas">Incluir Firmas</label>
                                            </div>
                                        </div>

                                        <div class="col-sm" style="display:flex; align-items:center; border-left: 1px solid;">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="reportMoras" v-model="Reportes.IndividualClientStatusFILTROS.incluirMoras" disabled>
                                                <label class="form-check-label" for="reportMoras">Incluir Moras</label>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn btn-light" style="text-align:center; vertical-align:central; border-left: 1px solid;" v-on:click="Buscar()"><i class="material-icons" style="margin-top:80%;">search</i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="contenidosReportes" class="Tables" style="display:flex; justify-content:center">
                @*TABLA REPORTE VENTANAS Y REPORTES POR CATEGORIA Y VENDEDOR*@
                @*----VENTAS & DEVOLUCIONES----*@
                <div v-if="Reportes.VentasYDevolucionesCategoriaYVendedorTablaVisible === 'tablaVentasYDevoluciones'" style="width:99%">
                    <table id="tablaVentasYDevoluciones" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align:right;" scope="col">Nro.</th>
                                <th style="text-align:right;" scope="col">Fecha</th>
                                <th style="text-align:left;" scope="col">Vendedor</th>
                                <th style="text-align:left;" scope="col">Cliente</th>
                                <th style="text-align:right;" scope="col">Sub-Total</th>
                                <th style="text-align:right;" scope="col">ITBIS</th>
                                <th style="text-align:right;" scope="col">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="element in Reportes.VentasYDevolucionesCategoriaYVendedorDATA">
                                <td style="text-align:right;">{{ element.nrodoc | FilterRemoveLeftZeros }}</td>
                                <td style="text-align:right;">{{ element.fecha_emision }}</td>
                                <td style="text-align:left;">{{ element.Nombre_vendedor }}</td>
                                <td style="text-align:left;">{{ element.nombre_clte }}</td>
                                <td style="text-align:right;">{{ element.SubTotalNeto | FilterStringToMoneyFormat}}</td>
                                <td style="text-align:right;">{{ element.impto | FilterStringToMoneyFormat }}</td>
                                <td style="text-align:right;">{{ element.total | FilterStringToMoneyFormat }}</td>
                        </tbody>
                    </table>
                </div>

                @*----POR RANGO, NUMERO DE FACTURA----*@
                <div v-if="Reportes.VentasYDevolucionesCategoriaYVendedorTablaVisible === 'tablaRangoNroFactura'" style="width:99%">
                    <table id="tablaRangoNroFactura" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align:right;" scope="col">Nro.</th>
                                <th style="text-align:right;" scope="col">Fecha Emisión</th>
                                <th style="text-align:right;" scope="col">Vencimiento</th>
                                <th style="text-align:left;" scope="col">Nombre Cliente</th>
                                <th style="text-align:left;" scope="col">Vendedor</th>
                                <th style="text-align:left;" scope="col">Comprobante Fiscal</th>
                                <th style="text-align:left;" scope="col">Término</th>
                                <th style="text-align:right;" scope="col">Moneda</th>
                                <th style="text-align:right;" scope="col">Descuento</th>
                                <th style="text-align:right;" scope="col">Impuesto</th>
                                <th style="text-align:right;" scope="col" v-if="Reportes.VentasYDevolucionesCategoriaYVendedorDATA[0] && 'SubTotalNeto' in Reportes.VentasYDevolucionesCategoriaYVendedorDATA[0]">Sub-Total</th>
                                <th style="text-align:right;" scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="element in Reportes.VentasYDevolucionesCategoriaYVendedorDATA">
                                <td style="text-align:right;">{{ element.nrodoc | FilterRemoveLeftZeros }}</td>
                                <td style="text-align:right;">{{ element.fecha_emision | FilterDateFormat }}</td>
                                <td style="text-align:right;">{{ element.fecha_vcmto | FilterDateFormat}}</td>
                                <td style="text-align:left;">{{ element.clte_direccion1 }}</td>
                                <td style="text-align:left;">{{ element.Nombre_vendedor }}</td>
                                <td style="text-align:left;">{{ element.ncf }}</td>
                                <td style="text-align:left;">{{ element.Descripcion_termino }}</td>
                                <td style="text-align:right;">{{ element.moneda }}</td>
                                <td style="text-align:right;">{{ element.dscto_monto | FilterStringToMoneyFormat }}</td>
                                <td style="text-align:right;">{{ element.impuesto_monto }}</td>
                                <td style="text-align:right;" v-if="Reportes.VentasYDevolucionesCategoriaYVendedorDATA[0] && 'SubTotalNeto' in Reportes.VentasYDevolucionesCategoriaYVendedorDATA[0]">{{ element.SubTotalNeto | FilterStringToMoneyFormat }}</td>
                                <td style="text-align:right;">{{ element.total | FilterStringToMoneyFormat }}</td>
                        </tbody>
                    </table>
                </div>

                @*TABLA RESPORTE CLIENTE INDIVIDUAL STATUS*@
                <div v-if="Reportes.IndividualClientStatusDATA.length" style="width:99%">
                    <button class="btn btn-outline-info Sombra" style="margin-bottom: 10px; width:25%" type="button"
                            onclick="let jsonFiltro = {
                                        'status': 1,
                                        'filtro': {
                                            'clientCode': document.getElementById('inputCodigoClienteFiltroReporte').value,
                                            'SoloDocsVencidos': document.getElementById('reportDocsVencidos').checked
                                        }
                                     };
                                     Print('reporteEstadoCuentaCliente', jsonFiltro);">
                        <i class="material-icons" style="vertical-align:bottom">print</i>
                    </button>

                    <table id="tablaEstadoCuentaCliente" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align:right;" scope="col">Emisión</th>
                                <th style="text-align:right;" scope="col">Vencimiento</th>
                                <th scope="col" v-if="Reportes.IndividualClientStatusFILTROS.mostrarNCF">NCF</th>
                                <th style="text-align:left;" scope="col">Descripción</th>
                                <th style="text-align:right;" scope="col">Días Transcurridos</th>
                                <th style="text-align:right;" scope="col">Monto</th>
                                <th style="text-align:right;" scope="col">Pagos Acumulados</th>
                                <th style="text-align:right;" scope="col">Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="element in Reportes.IndividualClientStatusDATA">
                                <td style="text-align:right;">{{ element.fecha_emision | FilterDateFormat }}</td>
                                <td style="text-align:right;">{{ element.fecha_vcmto | FilterDateFormat }}</td>
                                <td v-if="Reportes.IndividualClientStatusFILTROS.mostrarNCF">{{ element.ncf }}</td>
                                <td style="text-align:left;">{{ element.descripcion_dcmto }}</td>
                                <td style="text-align:right;">{{ element.diasTrancurridos }}</td>
                                <td style="text-align:right;">{{ element.monto | FilterStringToMoneyFormat }}</td>
                                <td style="text-align:right;">{{ element.pagosAcumulados | FilterStringToMoneyFormat }}</td>
                                <td style="text-align:right;">{{ element.balance | FilterStringToMoneyFormat }}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
